<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<body>
	<div class="page-wrapper">
	
		<!-- container -->
		<div class="container">
			<!-- <div class="input-group">
				<input class="custom-input" type="id" id="input01" placeholder="플레이스홀더" autocomplete="off">
				<label for="input01">라벨명을 따릅니다.</label>
			</div> -->
			<div style="height: 100px;"></div>
			<!-- 
				@@@@@퍼블 공지@@@@@
				input-group에 클래스를 추가하여 모든 상태를 제어합니다.

				#####input-group 상태 종류#####
				-레이블 플로팅 X: input-group normal 로 시작
				-레이블 플로팅 O: input-group floating 로 시작

				**focused
				-레이블 플로팅 X: input-group normal focused 
				-레이블 플로팅 O: input-group floating focused 
				**validation success
				-레이블 플로팅 X: input-group normal success 
				-레이블 플로팅 O: input-group floating success 
				**validation error
				-레이블 플로팅 X: input-group normal error 
				-레이블 플로팅 O: input-group floating error 
				**read only

				**disabled
			-->
			<!-- input normal -->
			<div class="input-control normal">				
				<div class="input-group">
					<label class="input-label">플레이스홀더가 곧 레이블이 됩니다.</label>
					<div class="input-row">
						<input type="text" class="input-field" placeholder="플레이스홀더가 곧 레이블이 됩니다." />
						<div class="util-box">
							<!-- <button type="button" class="clear-btn hidden"> : clear-btn 사용 안 할 때 hidden 클래스 추가 -->
							<button type="button" class="clear-btn hidden"></button>
							<!-- <span class="input-unit hidden"> : unit 사용 안 할 때 hidden 클래스 추가 -->
							<span class="input-unit hidden">
								<span class="unit-point">1</span>단위가늘어납니다
							</span>
						</div>
					</div>
					<!-- 
						<div class="util-box"> : clear button 과 unit이 들어감 
					-->
				</div>
				<div class="validation-txt">validation 메시지 노출</div>
			</div>
			<div style="height: 100px;"></div>
			<!-- input floating -->
			<div class="input-control floating">				
				<div class="input-group">
					<label class="input-label">플레이스홀더가 곧 레이블이 됩니다.</label>
					<div class="input-row">
						<input type="text" class="input-field" placeholder="플레이스홀더가 곧 레이블이 됩니다." />
						<div class="util-box">
							<!-- <button type="button" class="clear-btn hidden"> : clear-btn 사용 안 할 때 hidden 클래스 추가 -->
							<button type="button" class="clear-btn hidden"></button>
							<!-- <span class="input-unit hidden"> : unit 사용 안 할 때 hidden 클래스 추가 -->
							<span class="input-unit hidden">
								<span class="unit-point">1</span>단위가늘어납니다
							</span>
						</div>
					</div>
					<!-- 
						<div class="util-box"> : clear button 과 unit이 들어감 
					-->
				</div>
				<div class="validation-txt">validation 메시지 노출</div>
			</div>
		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>