.page-wrapper.changeBillMethod .container .section__cont {
  padding: 76px 0 74px;
}
.page-wrapper.changeBillMethod .container .section__cont.summary {
  padding: 56px 0 74px;
}
.page-wrapper.changeBillMethod .container .section__cont:has(.addr-wrap) {
  height: 100vh;
}
.page-wrapper.changeBillMethod .container .section__cont:has(.addr-wrap) .cont__wrap-service {
  height: 100%;
}
.page-wrapper.changeBillMethod .container .section__cont:has(.addr-wrap) .cont__wrap-service .cont__txt-box .txt {
  line-height: 150%;
}

.addr-wrap {
  margin-top: 8px;
  height: calc(100% - 124px);
  min-height: 120px;
  overflow-y: auto;
}
.addr-wrap .addr-box {
  padding: 16px 0 17px;
  border-bottom: 1px solid var(--dt-gray17);
}
.addr-wrap .addr-box[role=button]:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.addr-wrap .addr-box .zip-code {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: var(--dt-primary);
  margin-bottom: 4px;
}
.addr-wrap .addr-box .addr-main {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--dt-gray16);
  margin-bottom: 2px;
}
.addr-wrap .addr-box .addr-detail {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--dt-gray11);
}
.addr-wrap .addr-box.card.solid {
  background-color: transparent;
  border-bottom: unset;
  padding-top: 72px;
}

.cont__wrap.cont__wrap-btBtn {
  padding: 0;
  background-color: transparent;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}
.cont__wrap.cont__wrap-btBtn .btn-group {
  position: relative;
  background-color: var(--dt-white);
  padding: 0 20px 20px;
}
.cont__wrap.cont__wrap-btBtn .btn-group::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0) 100%);
}
.cont__wrap.cont__wrap-btBtn .btn-group.full {
  padding: 0;
}
.cont__wrap.cont__wrap-btBtn .btn-group.full .btn {
  border-radius: 0;
}
.cont__wrap.cont__wrap-btBtn .btn.bg-bank {
  width: calc(100% - 40px);
  margin: 0 auto 20px;
  background-color: var(--dt-gray01);
  border: 1px solid var(--dt-gray08);
}
.cont__wrap.cont__wrap-btBtn:has(.accordion-container:first-child) {
  box-shadow: 0px -8px 13px rgba(0, 0, 0, 0.04);
}
.cont__wrap.cont__wrap-btBtn:has(.accordion-container:first-child) .accordion-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
}

.txt-infoWrap {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray11);
  margin-top: 28px;
}
.txt-infoWrap .subTxt-info {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray10);
}