/* single button */
.btn-group .btn {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  background-color: var(--dt-primary);
  border: 1px solid var(--dt-primary);
  padding: 16.5px 16.5px;
  font-weight: var(--dt-fw600);
}
.btn-group .btn .txt {
  color: var(--dt-white);
}
.btn-group .btn.btn-sol {
  color: var(--dt-white);
  /* medium button */
}
.btn-group .btn.btn-sol.btn-lg.btn-sec {
  background-color: var(--dt-gray13);
  border: 1px solid var(--dt-gray13);
}
.btn-group .btn.btn-sol.btn-lg.btn-neu {
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn.btn-sol.btn-lg.btn-neu .txt {
  color: var(--dt-gray10);
}
.btn-group .btn.btn-sol.btn-md {
  background-color: var(--dt-primary);
  border: 1px solid var(--dt-primary);
  padding: 9px 9px;
  width: 100%;
}
.btn-group .btn.btn-sol.btn-md .txt {
  font-size: var(--dt-fz12);
}
.btn-group .btn.btn-sol.btn-md.btn-sec {
  background-color: var(--dt-gray13);
  border: 1px solid var(--dt-gray13);
}
.btn-group .btn.btn-sol.btn-md.btn-neu {
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn.btn-sol.btn-md.btn-neu .txt {
  color: var(--dt-gray10);
}
.btn-group .btn.btn-sol:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn.btn-sol.is-disabled {
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn-group .btn.btn-line.btn-lg {
  color: var(--dt-primary);
  background-color: transparent;
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 16.5px 16.5px;
  text-align: center;
  width: 100%;
}
.btn-group .btn.btn-line.btn-lg .txt {
  color: var(--dt-primary);
}
.btn-group .btn.btn-line.btn-lg.btn-sec {
  background-color: transparent;
  border: 1px solid var(--dt-gray13);
}
.btn-group .btn.btn-line.btn-lg.btn-sec .txt {
  color: var(--dt-gray13);
}
.btn-group .btn.btn-line.btn-lg.btn-neu {
  background-color: transparent;
  border: 1px solid var(--dt-gray17);
}
.btn-group .btn.btn-line.btn-lg.btn-neu .txt {
  color: var(--dt-gray12);
}
.btn-group .btn.btn-line.btn-md {
  color: var(--dt-primary);
  background-color: transparent;
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 9px 9px;
  text-align: center;
}
.btn-group .btn.btn-line.btn-md .txt {
  font-size: var(--dt-fz12);
  color: var(--dt-primary);
}
.btn-group .btn.btn-line.btn-md.btn-sec {
  background-color: transparent;
  border: 1px solid var(--dt-gray13);
}
.btn-group .btn.btn-line.btn-md.btn-sec .txt {
  color: var(--dt-gray13);
}
.btn-group .btn.btn-line.btn-md.btn-neu {
  background-color: transparent;
  border: 1px solid var(--dt-gray17);
}
.btn-group .btn.btn-line.btn-md.btn-neu .txt {
  color: var(--dt-gray11);
}
.btn-group .btn.btn-line:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn.btn-line.is-disabled {
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}

/* multi button */
.btn-group.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.btn-group.flex-row .btn {
  flex: 1;
}
.btn-group.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.btn-group.flex-column .btn {
  width: 100%;
}

/* util button */
.btn.btn-top {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.btn.btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.btn.btn-center .txt {
  font-size: 16px;
  font-weight: 600;
  color: var(--dt-white);
}
.btn.btn-center.btn-scroll {
  padding: 12.5px 22px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 100px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.btn.btn-center.btn-icBox {
  padding: 14px 0;
  column-gap: 0;
  background-color: var(--dt-gray06);
  border-radius: 4px;
  width: 100%;
}
.btn.btn-center.btn-icBox .txt {
  font-size: 14px;
  color: var(--dt-gray11);
}
.btn.btn-center.btn-icBox .img-box img {
  transition: all 0.2s linear;
}
.btn.btn-center.btn-icBox:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn.btn-center.btn-icBox:active .img-box img {
  transform: rotate(180deg);
}
.btn.btn-center.btn-icBox.is-selected .img-box {
  transition: all 0.2s linear;
}
.btn.btn-center.btn-icBox.is-selected .img-box img {
  transform: rotate(180deg);
}
.btn.btn-center .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn.btn-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
}
.btn.btn-between .txt {
  font-size: 14px;
  font-weight: 600;
  color: var(--dt-gray11);
}
.btn.btn-between:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn.btn-between.is-disabled {
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn.btn-between.bg-withdraw {
  column-gap: 6px;
  background-color: var(--dt-white);
  padding: 8px 10px;
  color: var(--dt-gray10);
}
.btn.btn-between.bg-withdraw .txt {
  font-weight: var(--dt-fw500);
}
.btn.btn-between.bg-bank {
  column-gap: 8px;
  background-color: var(--dt-gray07);
  padding: 8px;
  color: var(--dt-gray10);
}
.btn.btn-between.btn-payment .txt-box {
  display: none;
}
.btn.btn-between.btn-payment.is-selected .txt-box {
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn.btn-between.btn-payment.is-selected .txt-box .txt {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-primary);
}
.btn.btn-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 4px;
}
.btn.btn-start.btn-data {
  border: 1px solid var(--dt-gray17);
  background-color: var(--dt-white);
}
.btn.btn-start.btn-data .txt-box .txt:nth-child(1) {
  font-weight: var(--dt-fw600);
  color: var(--dt-gray16);
}
.btn.btn-start.btn-data .txt-box .txt:nth-child(1)::after {
  display: inline-block;
  content: "";
  margin: 0 12px;
  width: 1px;
  height: 10px;
  background-color: var(--dt-gray09);
}
.btn.btn-start.btn-data .txt-box .txt:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}
.btn.btn-start.btn-data.is-selected {
  border: 2px solid var(--dt-primary);
}
.btn.btn-start.btn-data.is-selected .txt-box .txt {
  color: var(--dt-primary);
}
.btn.btn-start.btn-data.is-selected .txt-box .txt:nth-child(1)::after {
  background-color: var(--dt-primary);
}