.chips-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.chips {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: var(--dt-lh120);
  color: var(--dt-gray15);
  border: none;
  border-radius: 999px;
}
.chips .txt {
  font-size: var(--dt-fz16);
  font-weight: var(--dt-fw600);
  text-align: left;
}
.chips .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.chips .arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/ic-chips-arrow-black.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.chips.chips-date {
  height: 36px;
  background-color: #D0DBF8;
  padding: 6px 6px 6px 16px;
}
.chips.chips-date .txt {
  width: 42px;
  font-size: var(--dt-fz18);
}
.chips.chips-date:active, .chips.chips-date:focus {
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.12);
}
.chips.chips-date.disabled {
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.6);
}
.chips.chips-date.disabled .txt {
  opacity: 0.6;
}
.chips.chips-date.disabled .arrow {
  opacity: 0.6;
}
.chips.chips-all {
  height: 35px;
  border: 1px solid var(--dt-gray07);
  padding: 4px 8px 4px 12px;
}
.chips.chips-all .txt {
  font-size: var(--dt-fz14);
  color: var(--dt-gray11);
}
.chips.chips-all .arrow {
  background-image: url(../images/icon/ic-chips-arrow-gray.png);
}
.chips.chips-all.active .arrow {
  transform: rotate(-180deg);
}
.chips.chips-all.disabled {
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.6);
}
.chips.chips-all.disabled .txt {
  opacity: 0.6;
}
.chips.chips-all.disabled .arrow {
  opacity: 0.6;
}
.chips.chips-menu {
  height: 35px;
  border: 1px solid rgba(24, 26, 27, 0.04);
  background-color: var(--dt-gray03);
  padding: 8px 12px;
  gap: 4px;
}
.chips.chips-menu.active {
  background-color: var(--dt-gray12);
}
.chips.chips-menu.active .txt {
  color: var(--dt-white);
}
.chips.chips-menu.chips-more {
  width: 35px;
}
.chips.chips-menu.chips-more .arrow {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ic-chips-arrow-sm.png);
  background-size: 16px 16px;
  transform: rotate(-180deg);
}
.chips.chips-menu.chips-more.active {
  background-color: var(--dt-gray03);
}
.chips.chips-menu.chips-more.active .arrow {
  transform: rotate(0deg);
}
.chips.chips-bank {
  max-width: 311px;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: var(--dt-gray05);
  border-radius: 4px;
  padding: 8px 12px;
  gap: 4px;
}
.chips.chips-bank .icon {
  display: inline;
  width: 16px;
  height: 16px;
}
.chips.chips-bank .txt {
  font-size: var(--dt-fz14);
}