.chips-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.chips.chips-date {
  height: 36px;
  border: none;
  background-color: var(--dt-gray18);
  padding: 6px 6px 6px 16px;
}
.chips.chips-date .txt {
  font-size: 18px;
  white-space: nowrap;
}
.chips.chips-date:active {
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.12);
}
.chips.chips-date.is-disabled {
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.6);
}
.chips.chips-date.is-disabled .txt, .chips.chips-date.is-disabled .arrow {
  opacity: 0.6;
}
.chips.chips-all {
  min-height: 35px;
  background-color: var(--dt-white);
  border: 1px solid var(--dt-gray08);
  padding: 4px 8px 4px 12px;
}
.chips.chips-all .txt {
  font-size: 14px;
}
.chips.chips-all .arrow {
  background-image: url(../images/icon/ic-chips-arrow-gray.png);
}
.chips.chips-all:active .arrow, .chips.chips-all.is-selected .arrow {
  transform: rotate(-180deg);
}
.chips.chips-all.is-disabled {
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.6);
}
.chips.chips-all.is-disabled .txt {
  opacity: 0.6;
}
.chips.chips-all.is-disabled .arrow {
  transform: rotate(-180deg);
  opacity: 0.6;
}
.chips.chips-menu {
  min-height: 35px;
  border: 1px solid rgba(24, 26, 27, 0.04);
  background-color: var(--dt-gray03);
  padding: 8px 12px;
  gap: 4px;
}
.chips.chips-menu .txt {
  font-size: 14px;
  font-weight: 500;
  color: var();
  white-space: nowrap;
}
.chips.chips-menu:active {
  border-color: transparent;
  background-color: var(--dt-gray13);
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.12);
}
.chips.chips-menu:active .txt {
  color: var(--dt-white);
}
.chips.chips-menu.is-selected {
  background-color: var(--dt-gray13);
}
.chips.chips-menu.is-selected .txt {
  font-weight: 600;
  color: var(--dt-white);
}
.chips.chips-menu.chips-more {
  padding: 8px;
}
.chips.chips-menu.chips-more .arrow {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ic-chips-arrow-sm.png);
  background-size: 16px 16px;
}
.chips.chips-menu.chips-more.is-selected .arrow {
  transform: rotate(-180deg);
}
.chips.chips-bank {
  max-width: 311px;
  min-height: 33px;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dt-gray05);
  gap: 4px;
}
.chips.chips-bank .icon {
  width: 16px;
  height: 16px;
}
.chips.chips-bank .txt {
  margin-top: 2px;
  font-size: 14px;
  color: var(--dt-gray16);
}
.chips.chips-bank:active {
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.12);
}
.chips.chips-bank.is-selected {
  background-color: var(--dt-gray07);
}
.chips.chips-refresh {
  min-height: 36px;
  border: 1px solid var(--dt-gray08);
  background-color: var(--dt-white);
  padding: 4px 10px 4px 16px;
  gap: 10px;
}
.chips.chips-refresh .time {
  font-size: 12px;
  color: var(--dt-gray11);
}
.chips.chips-refresh .line {
  width: 1px;
  height: 10px;
  background-color: var(--dt-gray09);
}
.chips.chips-refresh .text-box {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.chips.chips-refresh .text-box .txt {
  font-size: 12px;
  color: var(--dt-gray11);
  white-space: nowrap;
}
.chips.chips-refresh .text-box .icon {
  width: 18px;
  height: 18px;
  background-image: url(../images/icon/ic-chips-refresh.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
.chips.chips-refresh:active {
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.12);
}
.chips.chips-tag {
  min-height: 28px;
  border-color: var(--dt-gray08);
  background-color: var(--dt-white);
  padding: 7px 12px;
}
.chips.chips-tag .txt {
  font-size: 12px;
  font-weight: 500;
  color: var(--dt-gray13);
}
.chips.chips-tag.primary {
  border-color: var(--dt-primary);
}
.chips.chips-tag.primary .txt {
  color: var(--dt-primary);
}
.chips.chips-tag.tag-sm {
  border: none;
  background-color: var(--dt-gray08);
}
.chips.chips-tag.tag-lg .txt {
  font-size: 14px;
}
.chips.chips-tag.tag-lg.primary-bg {
  border-color: var(--dt-primary);
  background-color: rgba(227, 0, 132, 0.12);
}
.chips.chips-tag.tag-lg.primary-bg .txt {
  color: var(--dt-primary);
}

.flag {
  width: fit-content;
}
.flag .txt {
  text-align: center;
}
.flag.primary {
  border-color: var(--dt-primary);
  background-color: var(--dt-primary);
}
.flag.success {
  border-color: transparent;
  background-color: rgba(0, 170, 2, 0.1);
}
.flag.success .txt {
  color: var(--dt-success);
}
.flag.error {
  border-color: transparent;
  background-color: rgba(226, 42, 33, 0.1);
}
.flag.error .txt {
  color: var(--dt-error);
}
.flag.flag-line {
  background-color: transparent;
}
.flag.flag-line .txt {
  color: var(--dt-gray10);
}
.flag.flag-line.primary {
  border-color: var(--dt-primary);
}
.flag.flag-line.primary .txt {
  color: var(--dt-primary);
}
.flag.flag-recent {
  border: 1px solid var(--dt-gray17);
  background-color: var(--dt-gray17);
}
.flag.flag-recent .txt {
  font-size: 12px;
  font-weight: 500;
  color: var(--dt-gray12);
}
.flag.flag-etc {
  min-height: 26px;
  border: 1px solid var(--dt-gray02);
  background-color: var(--dt-gray02);
  padding: 4px 8px;
}
.flag.flag-etc .txt {
  font-size: 12px;
  font-weight: 500;
  color: var(--dt-gray11);
}

.badge.badge-round {
  min-width: 26px;
  min-height: 26px;
  border-radius: 100px;
  border: 1px solid var(--dt-gray08);
  background-color: var(--dt-gray08);
  padding: 4px 9px;
}
.badge.badge-round .txt {
  color: var(--dt-gray13);
}
.badge.badge-tip {
  min-height: 22px;
  border-radius: 36px;
  border-color: var(--dt-white);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
}
.badge.badge-tip .txt {
  color: var(--dt-white);
}
.badge.badge-time {
  min-width: 104px;
  min-height: 36px;
  border-color: transparent;
  border-radius: 40px;
  background: rgba(236, 0, 140, 0.05);
  padding: 4px 12px;
}
.badge.badge-time .txt {
  color: var(--dt-primary);
}
.badge.badge-time .icon {
  background-image: url(../images/icon/ic-badge-clock.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
.badge.badge-time.error {
  background-color: rgba(226, 42, 33, 0.05);
}
.badge.badge-time.error .txt {
  color: var(--dt-error);
}
.badge.badge-time.error .icon {
  background-image: url(../images/icon/ic-badge-clock-error.png);
}