@charset "utf-8";
/*======================================
	Reset
======================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, dl, li {
	list-style: none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: middle;
}

i, em, address {
	font-style: normal;
	font-weight: normal;
}
input, textarea, select, button {
	vertical-align: middle;
}
a { 
    color:#000;
    text-decoration:none;
    cursor: pointer;
}

/* 버튼 스타일 reset */
button{
	background: inherit; 
	border: none; 
	box-shadow: none; 
	border-radius: 0; 
	padding: 0; 
	overflow: visible; 
	cursor: pointer;
} 


/*======================================
	ROOT
	사용할 변수 정리   
======================================*/
:root {	
	/* sight design - color */
	/* color style - grayscale */
	--dt-white: #FFFFFF;
	--dt-gray01: #F9FAFB;
	--dt-gray02: #F6F7FC;
	--dt-gray03: #F3F5F6;
	--dt-gray04: #F3F4F6;
	--dt-gray05: #EEF1FD;
	--dt-gray06: #E3E6F1;
	--dt-gray07: #DCE6FF;
	--dt-gray07: #DCE0E5;
	--dt-gray08: #A8B3BD;
	--dt-gray09: #7F8A94;
	--dt-gray10: #66707A;
	--dt-gray11: #525960;
	--dt-gray12: #4B506A;
	--dt-gray13: #3B4044;
	--dt-gray14: #31354D;
	--dt-gray15: #181A1B;
	--dt-gray16: #E7EBEE;
	--dt-gray17: #D0DBF8;
	--dt-black: #000000;

	/* color Style - system */
	--dt-primary: #E30084;
	--dt-success: #00AA02;
	--dt-warning: #F86800;
	--dt-error: #E22A21;

	/* sight design - font */
	/* font style - font size */
	--dt-fz30: 30px;
	--dt-fz24: 24px;
	--dt-fz22: 22px;
	--dt-fz18: 18px;
	--dt-fz16: 16px;
	--dt-fz14: 14px;
	--dt-fz12: 12px;

	/* font style - font weight */
	--dt-fw700: 700;
	--dt-fw600: 600;
	--dt-fw400: 400;

	/* font style - line height */
	--dt-lh150: 150%;
	--dt-lh140: 140%;
	--dt-lh120: 120%;

	/* sight design - shadow */
	/* shadow style - card */
	--dt-shadow01: 0 8px 13px 8px rgba(var(--dt-grayscale18), 0.04);

	/* shadow style - bottom sheet */
	--dt-shadow02: 0 16.8px 27.3px 0px rgba(var(--dt-grayscale18), 0.04);
}




/*======================================
	common
======================================*/
body { 
    font-family: "Pretendard", system-ui, sans-serif;
    font-weight: var(--dt-fw400);
    line-height: 1;
    font-size: var(--dt-fz16); 
    text-overflow: ellipsis;
    max-width:100%;
    background-color: var(--dt-white);
}