/* ========= button component ========= */
.btn-group .btn-box.btn-sol {
  /* large button */
  /* medium button */
}
.btn-group .btn-box.btn-sol .btn-lg {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--dt-white);
  background-color: var(--dt-primary);
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 16.5px 16.5px;
  text-align: center;
  width: 100%;
}
.btn-group .btn-box.btn-sol .btn-lg:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn-box.btn-sol .btn-lg.btn-sec {
  background-color: var(--dt-gray12);
  border: 1px solid var(--dt-gray12);
}
.btn-group .btn-box.btn-sol .btn-lg.btn-neu {
  color: var(--dt-gray10);
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn-box.btn-sol .btn-lg.disabled {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn-group .btn-box.btn-sol .btn-md {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: var(--dt-white);
  background-color: var(--dt-primary);
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 9px 9px;
  text-align: center;
  width: 100%;
}
.btn-group .btn-box.btn-sol .btn-md:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn-box.btn-sol .btn-md.btn-sec {
  background-color: var(--dt-gray12);
  border: 1px solid var(--dt-gray12);
}
.btn-group .btn-box.btn-sol .btn-md.btn-neu {
  color: var(--dt-gray10);
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn-box.btn-sol .btn-md.disabled {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn-group .btn-box.btn-line .btn-lg {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--dt-primary);
  background-color: transparent;
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 16.5px 16.5px;
  text-align: center;
  width: 100%;
}
.btn-group .btn-box.btn-line .btn-lg:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn-box.btn-line .btn-lg.btn-sec {
  color: var(--dt-gray12);
  background-color: transparent;
  border: 1px solid var(--dt-gray12);
}
.btn-group .btn-box.btn-line .btn-lg.btn-neu {
  color: var(--dt-gray10);
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn-box.btn-line .btn-lg.disabled {
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn-group .btn-box.btn-line .btn-md {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: var(--dt-primary);
  background-color: transparent;
  border: 1px solid var(--dt-primary);
  border-radius: 4px;
  padding: 9px 9px;
  text-align: center;
  width: 100%;
}
.btn-group .btn-box.btn-line .btn-md:active {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.btn-group .btn-box.btn-line .btn-md.btn-sec {
  color: var(--dt-gray12);
  background-color: transparent;
  border: 1px solid var(--dt-gray12);
}
.btn-group .btn-box.btn-line .btn-md.btn-neu {
  color: var(--dt-gray10);
  background-color: var(--dt-gray03);
  border: 1px solid var(--dt-gray03);
}
.btn-group .btn-box.btn-line .btn-md.disabled {
  box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.6);
}
.btn-group.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.btn-group.flex-row .btn-box {
  flex: 1;
}
.btn-group.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
}
.btn-group.flex-column .btn-box {
  width: 100%;
}

/* ========= //button component ========= */
/*



*/
/* ========= chips component ========= */
.chips-group {
  display: block;
}
.chips-group .chips-box {
  color: aliceblue;
}
.chips-group .chips {
  display: block;
  color: black;
}

/* ========= //chips component ========= */