.counsel .cont__wrap {
  padding: 48px 20px;
}
.counsel .cont__wrap.cont__wrap-counsel {
  padding: 32px 20px 48px;
  background-color: var(--dt-gray05);
}
.counsel .cont__wrap.cont__wrap-counsel .con__tit-box {
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.counsel .cont__wrap.cont__wrap-counsel .card__text {
  gap: 2px;
}
.counsel .cont__wrap.cont__wrap-counsel .card__text .txt {
  font-size: 11px;
}
.counsel .cont__wrap .txt-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}

.conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  border: 1px solid rgba(24, 26, 27, 0.02);
  border-radius: 8px;
  background-color: var(--dt-gray17);
  gap: 0;
}
.conversion .btn {
  border-color: transparent;
  background-color: var(--dt-gray17);
}
.conversion .btn .txt {
  font-size: 16px;
  font-weight: 600;
  color: var(--dt-gray12);
}
.conversion .divider {
  display: inline-block;
  content: "";
  width: 1px;
  height: 18px;
  background-color: var(--dt-gray09);
  margin: 0 1px;
}

@media (max-width: 359px) {
  .cont__wrap-counsel .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .cont__wrap-counsel .card-group .card {
    align-items: center;
    flex-direction: row;
    padding: 23px 16px;
    gap: 12px;
  }
  .cont__wrap-counsel .card-group .card .card-body {
    align-items: center;
    flex-direction: row;
    gap: 12px;
  }
  .cont__wrap-counsel .card-group .card .card__text {
    gap: 0;
  }
  .cont__wrap-counsel .card-group .card .card-footer {
    margin-top: 0;
    margin-left: auto;
  }
  .conversion {
    flex-direction: column;
    background-color: transparent;
    gap: 8px;
  }
  .conversion .btn {
    border-color: rgba(24, 26, 27, 0.02);
  }
  .conversion .divider {
    display: none;
  }
}