.card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  grid-auto-rows: 1fr;
}
.card-group.threeby {
  grid-template-columns: repeat(3, 1fr);
}

.counsel .cont__wrap {
  padding: 48px 20px;
}
.counsel .cont__wrap .con__tit-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.counsel .cont__wrap .con__tit-box .tit-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.counsel .cont__wrap .con__tit-box .tit-tail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.counsel .cont__wrap .card {
  background-color: var(--dt-gray02);
  box-shadow: none;
}
.counsel .cont__wrap.cont__wrap-counsel {
  padding: 32px 20px 48px;
  background-color: var(--dt-gray05);
}
.counsel .cont__wrap.cont__wrap-counsel .con__tit-box {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4px;
}
.counsel .cont__wrap.cont__wrap-counsel .card {
  background-color: var(--dt-white);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.04);
  gap: 0;
}
.counsel .cont__wrap.cont__wrap-counsel .card.detail .text {
  gap: 2px;
}
.counsel .cont__wrap.cont__wrap-counsel .card.detail .text .tit {
  font-size: 14px;
}
.counsel .cont__wrap.cont__wrap-counsel .card.detail .text .txt {
  font-size: 11px;
}
.counsel .cont__wrap.cont__wrap-counsel .card.detail .card-footer {
  justify-content: flex-end;
}
.counsel .cont__wrap.cont__wrap-counsel .card.detail .card-footer .btn-group {
  flex: none;
}
.counsel .cont__wrap .txt-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}

.conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  border: 1px solid rgba(24, 26, 27, 0.02);
  border-radius: 8px;
  background-color: var(--dt-gray17);
  gap: 0;
}
.conversion .btn {
  border-color: transparent;
  background-color: var(--dt-gray17);
}
.conversion .btn .txt {
  font-size: 16px;
  font-weight: 600;
  color: var(--dt-gray12);
}
.conversion .divider {
  display: inline-block;
  content: "";
  width: 1px;
  height: 18px;
  background-color: var(--dt-gray09);
  margin: 0 1px;
}

@media (max-width: 359px) {
  .cont__wrap-counsel .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .cont__wrap-counsel .card-group .card {
    align-items: center;
    flex-direction: row;
    padding: 16px;
    gap: 12px;
  }
  .cont__wrap-counsel .card-group .card .card-body {
    align-items: center;
    flex-direction: row;
    gap: 12px;
  }
  .cont__wrap-counsel .card-group .card .text {
    gap: 0;
  }
  .cont__wrap-counsel .card-group .card .card-footer {
    margin-top: 0;
    margin-left: auto;
  }
  .conversion {
    flex-direction: column;
    background-color: transparent;
    gap: 8px;
  }
  .conversion .btn {
    border-color: rgba(24, 26, 27, 0.02);
  }
  .conversion .divider {
    display: none;
  }
}