.dataGift .btn-group .btn.btn-md {
  width: -moz-fit-content;
  width: fit-content;
}
.dataGift .flex-col {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dataGift .cont__wrap .tit-sub .txt-tit {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--dt-gray11);
}
.dataGift .cont__wrap .cont__wrap-dataGift {
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.dataGift .cont__wrap .cont__wrap-dataGift:has(.chngCode) {
  gap: 8px;
}
.dataGift .cont__wrap .cont__wrap-dataGift:has(.tit-sub) {
  gap: 8px;
}
.dataGift .cont__wrap .cont__wrap-dataGift .slct-box-wrap .slct-box .txt > * {
  font-size: 14px;
}
.dataGift .txt-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataGift .txt-title .txt-sub {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray10);
  margin-top: unset;
  margin-left: 8px;
}
.dataGift .bullet-wrap {
  margin-top: 24px;
}
.dataGift .card.horizon:not(.chngCode) {
  padding: 16px;
  background-color: var(--dt-gray02);
  box-shadow: unset;
}
.dataGift .card.horizon:not(.chngCode).dataGift {
  padding: 16px 16px 16px 24px;
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body .item.text {
  gap: 6px;
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body .item.text .tit {
  font-size: 16px;
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body .item.text .num {
  font-size: 15px;
  font-weight: 600;
  color: var(--dt-primary);
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body .item.text .num .num-txt {
  font-size: 14px;
  font-weight: 500;
}
.dataGift .card.horizon:not(.chngCode).dataGift .card-body .item.text .txt {
  font-size: 12px;
  font-weight: 500;
}
.dataGift .card.horizon:not(.chngCode).dataGift.is-disabled {
  padding-top: 45px;
  position: relative;
}
.dataGift .card.horizon:not(.chngCode).dataGift.is-disabled .item.text {
  gap: 6px;
}
.dataGift .card.horizon:not(.chngCode).dataGift.is-disabled .item.text .tit {
  font-size: 16px;
  color: var(-dt-gray11);
}
.dataGift .card.horizon:not(.chngCode).dataGift.is-disabled .item.text .txt {
  color: var(--dt-gray11);
}
.dataGift .card.horizon:not(.chngCode).dataGift.is-disabled .chips {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 10px;
  left: 16px;
  border: 1px solid var(--dt-gray09);
}
.dataGift .card.listGift {
  gap: 12px;
  padding: 20px;
}
.dataGift .card.listGift .gift-date {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--dt-gray11);
}
.dataGift .card.listGift .card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dataGift .card.listGift .card-body:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--dt-gray06);
}
.dataGift .card.listGift .card-body .gift-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dataGift .card.listGift .card-body .gift-info .used-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dt-gray14);
}
.dataGift .card.listGift .card-body .gift-info .used-won {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dt-black);
  text-align: right;
  flex: 1;
}
.dataGift .card.listGift .card-body .gift-info .flag {
  padding: 6px 10px;
}
.dataGift .card.listGift .card-body .gift-info .flag .txt {
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-size: 13px;
}
.dataGift .card.listGift .card-body .gift-info .txt-sub {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 0;
}
.dataGift .card.listGift .card-body .gift-info .txt-sub .sub-tel::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--dt-gray10);
  margin: 0 8px;
  transform: translateY(2px);
}
.dataGift .card.rmInform {
  box-shadow: none;
  border-radius: 16px;
  padding: unset;
}
.dataGift .card.rmInform .card-body {
  gap: 28px;
}
.dataGift .card.rmInform .item {
  flex-direction: column;
  gap: 6px;
}
.dataGift .card.rmInform .item .btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 4px;
  gap: 4px;
}
.dataGift .card.rmInform .announcePhone {
  margin-bottom: 12px;
  gap: 12px;
}
.dataGift .card.rmInform .announcePhone .tit span {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray14);
}
.dataGift .card.rmInform .announcePhone .phoneList {
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.dataGift .card.rmInform .announcePhone .phoneList > .card {
  padding: 14px 20px;
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-body {
  gap: 12px;
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-body .text {
  align-items: flex-start;
  flex: unset;
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-body .tit {
  font-size: 16px;
  color: var(--dt-gray12);
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-body .name {
  font-size: 16px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-body .num {
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray09);
}
.dataGift .card.rmInform .announcePhone .phoneList > .card .card-footer .close {
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/ic-card_close_small_line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.dataGift .card.rmInform .use-target {
  margin: 4px 0;
  padding: 28px 20px;
}
.dataGift .card.rmInform .use-target .txt {
  font-weight: 600;
  padding-left: 34px;
  padding-right: 34px;
}
.dataGift .card.rmInform .use-target .list-target-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
}
.dataGift .card.rmInform .use-target .list-target-item li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dataGift .card.rmInform .use-target .list-target-item li.img-wrap {
  width: 46px;
}
.dataGift .card.rmInform .use-target .list-target-item li.img-wrap .img-box {
  width: 100%;
  height: 32px;
  margin-bottom: 4px;
}
.dataGift .card.rmInform .use-target .list-target-item li:not(.img-wrap) {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: var(--dt-gray06);
  border-radius: 50%;
}
.dataGift .card.rmInform .use-target .list-target-item li:not(.img-wrap)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ic-plus-gray10.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.dataGift .card.rmInform .use-target .list-target-item li .desc {
  display: block;
  font-size: 10px;
  font-weight: 600;
  color: var(--dt-gray16);
  line-height: normal;
  text-align: center;
}
.dataGift .card.rmInform .discnt-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
.dataGift .card.rmInform .discnt-price .item-block {
  width: 98px;
}
.dataGift .card.rmInform .discnt-price .item-block p {
  padding: 9px 0;
  background-color: var(--dt-gray06);
  color: var(--dt-gray16);
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
}
.dataGift .card.rmInform .discnt-price .item-block p:not(:first-child) {
  margin-top: 4px;
}
.dataGift .card.rmInform .discnt-price .item-arrowbg {
  position: relative;
  width: 74px;
  aspect-ratio: 1/1.36;
  background-image: url(../images/img/bg_discount_arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.dataGift .card.rmInform .discnt-price .item-arrowbg > span {
  display: block;
  position: absolute;
  top: 46px;
  left: 12px;
  color: var(--dt-primary);
  font-size: 10px;
  font-weight: 600;
}
.dataGift .card.rmInform .discnt-price .item-point {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 8px;
  padding-top: 24px;
  background-color: var(--dt-primary);
  color: var(--dt-white);
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
}
.dataGift .data-box {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.dataGift .data-box .data {
  color: var(--dt-primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.dataGift .data-box .data-slide {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.dataGift .data-box .data-slide .content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 10px;
  color: var(--dt-gray11);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.dataGift .data-box .data-slide .range-custom {
  width: 100%;
  height: 6px;
  position: relative;
  border-radius: 6px;
  background: #f1f3f6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 1;
}
.dataGift .data-box .data-slide .range-custom::-webkit-slider-runnable-track {
  background: transparent;
}
.dataGift .data-box .data-slide .range-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: -3px 1px 7px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  cursor: pointer;
}
.dataGift .data-box .data-slide .scale-line {
  display: flex;
  justify-content: space-between;
  margin: 9px 20px 0;
  height: 6px;
}
.dataGift .data-box .data-slide .scale-line > * {
  /* flex: 1; */
  position: relative;
  z-index: 0;
  height: 6px;
}
.dataGift .data-box .data-slide .scale-line > *:before {
  display: block;
  width: 2px;
  height: 6px;
  border-radius: 4px;
  background: var(--dt-gray09);
  content: "";
}
.dataGift .data-box .data-slide .scale-line > *:before:first-child::before {
  content: none;
}
.dataGift .data-box .data-slide .scale-line > *:before:last-child::before {
  content: none;
}
.dataGift .coupon-wrap {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  row-gap: 20px;
}
.dataGift .coupon-wrap .img-box {
  width: 75%;
  max-width: 250px;
  min-width: 200px;
}
.dataGift .coupon-wrap .txt-box {
  color: var(--dt-gray16);
  font-size: 14px;
  font-weight: 600;
}
.dataGift .coupon-wrap .txt-box .txt-tit {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dt-gray12);
}
.dataGift .coupon-wrap .txt-box .color-prim {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dt-primary);
  padding-left: 5px;
  padding-top: 2px;
}
.dataGift .info-data-box {
  margin: 18px 0 0;
}
.dataGift .info-data-box .content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataGift .info-data-box .content-row:not(:last-child) {
  margin-bottom: 4px;
}
.dataGift .info-data-box .content-row .head {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dt-gray12);
}
.dataGift .info-data-box .content-row .tail {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--dt-gray16);
}
.dataGift .info-data-box .content-row .tail.color-prim {
  font-size: 20px;
  color: var(--dt-primary);
}
.dataGift .btn.btn-between {
  padding: 16px;
  border-radius: 8px;
}
.dataGift .btn .txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
}
.dataGift .btn .txt-wrap .txt-head {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dt-gray16);
}
.dataGift .btn .txt-wrap .txt {
  font-size: 14px;
}