.datepicker-UI .resetDate, .range-datepicker .resetDate {
  min-width: 256px;
  max-width: 250px;
  margin: auto;
}
.datepicker-UI .vanillajs-datepicker, .range-datepicker .vanillajs-datepicker {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  gap: 4px;
}
.datepicker-UI .vanillajs-datepicker .datepicker:not(.active), .range-datepicker .vanillajs-datepicker .datepicker:not(.active) {
  display: block !important;
}
.datepicker-UI .vanillajs-datepicker.year-month-day, .range-datepicker .vanillajs-datepicker.year-month-day {
  min-height: 380px;
  padding-top: 12px;
}
.datepicker-UI .vanillajs-datepicker .datepicker__input-wrap, .range-datepicker .vanillajs-datepicker .datepicker__input-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background-color: var(--dt-gray02);
  border-radius: 8px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dt-gray11);
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box, .range-datepicker .vanillajs-datepicker .datePicker__input-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  min-width: 86px;
  max-width: 124px;
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box:has(.hyphen), .range-datepicker .vanillajs-datepicker .datePicker__input-box:has(.hyphen) {
  max-width: 148px;
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box .input-field, .range-datepicker .vanillajs-datepicker .datePicker__input-box .input-field {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--dt-gray16);
  text-align: center;
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box .input-field-unit, .range-datepicker .vanillajs-datepicker .datePicker__input-box .input-field-unit {
  flex: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dt-gray11);
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box .input-field-unit.hyphen, .range-datepicker .vanillajs-datepicker .datePicker__input-box .input-field-unit.hyphen {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  padding-right: 12px;
}
.datepicker-UI .vanillajs-datepicker .datePicker__input-box .datepicker-picker, .range-datepicker .vanillajs-datepicker .datePicker__input-box .datepicker-picker {
  align-items: center;
  box-shadow: none;
  min-width: 220px;
  max-width: 320px;
  margin: auto;
}
.datepicker-UI .datepicker .datepicker-grid, .range-datepicker .datepicker .datepicker-grid {
  align-items: center;
}
.datepicker-UI .datepicker.datepicker-dropdown, .range-datepicker .datepicker.datepicker-dropdown {
  left: 50% !important;
  transform: translateX(-50%);
  top: 70px !important;
}