.cont__wrap.wd-full .con__tit-box {
  padding-top: 20px;
  padding-left: 20px;
}

.mypay-list {
  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--dt-gray17);
}
.mypay-list:last-of-type {
  border-bottom: 1px solid var(--dt-gray17);
}
.mypay-list .detail {
  display: flex;
  width: 100%;
  background-image: url(../images/icon/ic-24-arrow-right-gray10.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right top;
}
.mypay-list .detail .row {
  width: calc(100% - 24px);
  justify-content: space-between;
}
.mypay-list .detail .row .txt-date > .txt, .mypay-list .detail .row .txt-price > .txt {
  display: block;
}
.mypay-list .detail .row .txt-date .flag, .mypay-list .detail .row .txt-price .flag {
  margin-top: 4px;
}
.mypay-list .detail .row .txt-date .txt-sub, .mypay-list .detail .row .txt-price .txt-sub {
  margin-top: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 21px;
}
.mypay-list .detail .row .txt-date > .txt {
  font-weight: 500;
  line-height: 24px;
}
.mypay-list .detail .row .txt-price {
  text-align: right;
}
.mypay-list .detail .row .txt-price > .txt {
  font-weight: 700;
  line-height: 24px;
}
.mypay-list .btn-group {
  width: 100%;
  margin-top: 10px;
}