.page-wrapper .container .section__cont {
  padding-top: 56px;
}

.cont__wrap.cont__wrap-service {
  padding-bottom: 280px;
}

.cont__wrap.cont__wrap-btBtn:has(.accordion-container) {
  background-color: var(--dt-white);
  z-index: 999;
}

.cont__wrap.wd-full .con__tit-box {
  padding-top: 20px;
  padding-left: 20px;
}

.mypay-list {
  width: 100%;
  border-top: 1px solid var(--dt-gray17);
}
.mypay-list:last-of-type {
  border-bottom: 1px solid var(--dt-gray17);
}
.mypay-list .detail {
  position: relative;
  width: 100%;
  padding: 20px;
}
.mypay-list .detail::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 24px;
  margin-left: 4px;
  background-image: url(../images/icon/ic-24-arrow-right-gray10.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center -1px;
}
.mypay-list .detail .row {
  width: calc(100% - 24px);
  justify-content: space-between;
}
.mypay-list .detail .row .txt-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.mypay-list .detail .row .txt-price {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.mypay-list .detail .row + .row {
  margin-top: 4px;
}
.mypay-list .detail .txt-sub {
  margin-top: 0;
  margin-left: auto;
  text-align: right;
  font-size: 14px;
  line-height: 150%;
}
.mypay-list .detail .txt-sub-date {
  color: var(--dt-gray10);
  font-size: 12px;
  font-weight: 500;
  line-height: 180%;
}
.mypay-list .btn-group {
  width: 100%;
  padding: 0 20px 20px;
}