.cont__wrap .cont__txt-box {
  background-image: url(../images/img/img-hm-home.png);
  background-position: right -20px bottom -8px;
  padding: 32px 120px 28px 0;
}

.section__cont-menu {
  padding: 36px 0 48px 0;
  background-color: var(--dt-gray02);
}
.section__cont-menu .cont__wrap-freqMenu .con__tit-box {
  justify-content: flex-start;
  gap: 4px;
}
.section__cont-menu .cont__wrap-freqMenu .con__tit-box .img-box {
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.section__cont-menu .cont__wrap-freqMenu .txt-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}