.page-wrapper.mobilePaySetting .container .section__cont {
  padding: 72px 0 95px;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary {
  padding-bottom: 18px;
  background-color: #DCE6FF;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  height: max-content;
  min-height: 158px;
  padding-top: 28px;
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: right 10px bottom 0;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap .info-price-wrap .info-price.total-last .row, .page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap .info-price-wrap .info-price-detail.total-last .row {
  margin-top: 4px;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-bill {
  background-image: url(../images/img/img-hm-bill.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-realtime {
  background-image: url(../images/img/img-hm-realtime.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-usestate {
  background-image: url(../images/img/img-hm-usestate.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-account {
  background-image: url(../images/img/img-hm-account.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-payment {
  background-image: url(../images/img/img-hm-automatic-withdrawal.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-billMthdChng {
  background-image: url(../images/img/img-hm-bill.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-pauseTemp {
  background-image: url(../images/img/img-hm-pauseTemp.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-MOPaymentUsed {
  background-image: url(../images/img/img-hm-MOpayment.png);
  background-position: right -5px top 16px;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-MOPaymentUsed + .info-price-single p.txt-info {
  font-size: 14px;
  font-weight: 500;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .cont__wrap-plan {
  background-image: url(../images/img/img-hm-myplan.png);
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .txt-select-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: var(--dt-gray16);
  padding-right: 30%;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .txt-select-wrap .txt {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .txt-select-wrap:has(.chips-date + .txt) .txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .txt-select-wrap .chips-date .txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .btn-tooltip {
  margin-left: 2px;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .btn-tooltip img {
  width: 20px;
  height: 20px;
}
.page-wrapper.mobilePaySetting .container .section__cont.summary .tooltip-wrap {
  max-width: 280px;
}
.page-wrapper.mobilePaySetting .container .section__cont.desc {
  padding: 36px 0 48px 0;
  gap: 48px;
}
.page-wrapper.mobilePaySetting .container .section__cont.desc:has(.accnt-cont-wrap) {
  height: calc(100% - 262px);
}
.page-wrapper.mobilePaySetting .container .section__cont.desc:has(.cont__wrap-service) {
  padding: 72px 0 95px;
}
.page-wrapper.mobilePaySetting .container .section__cont.counsel {
  padding: 36px 0 0px;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.cont__wrap-service {
  padding-bottom: 40px;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.cont__wrap-service:has(.input-col-wrap .chck-group) .input-col-wrap + .input-col-wrap {
  margin-top: 24px;
  gap: 16px;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.cont__wrap-service:has(.input-col-wrap .chck-group) .input-col-wrap + .input-col-wrap .accordion-header.chckbox-area {
  padding-bottom: 10px;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.cont__wrap-service:has(.input-col-wrap .chck-group) .accordion-content .bullet-list {
  padding-bottom: 0;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.wd-full .cont__txt-box .txt {
  font-size: 20px;
  font-weight: 700;
}
.page-wrapper.mobilePaySetting .container .section__cont .cont__wrap.cont__wrap-btBtn:has(.accordion-container) {
  background-color: var(--dt-white);
  z-index: 999;
}

.info-col-wrap:has(.info-price) .col {
  row-gap: 10px;
  padding-top: 4px;
}
.info-col-wrap:has(.info-price) .col > .txt-title {
  padding-bottom: 10px;
  line-height: 120%;
}
.info-col-wrap:has(.info-price) .col .row .txt-title, .info-col-wrap:has(.info-price) .col .row .txt-desc {
  color: var(--dt-gray14);
  font-size: 14px;
  font-weight: 500;
}
.info-col-wrap:has(.info-price) .col + .info-price.total-last {
  margin-top: 8px;
  padding-top: 20px;
}
.info-col-wrap:has(.info-price) .col + .info-price.total-last .txt-price {
  line-height: 120%;
}
.info-col-wrap:has(.info-price) .col + .info-price.total-last:after {
  bottom: unset;
  top: 0;
  width: 100%;
}
.info-col-wrap:has(.info-price) .btn-group {
  margin-top: 8px;
}
.info-col-wrap .col {
  row-gap: 16px;
}
.info-col-wrap .txt-title {
  color: var(--dt-gray16);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.info-col-wrap .btn-group {
  margin-top: 20px;
}
.info-col-wrap .btn-group .btn {
  background-color: var(--dt-gray06);
  border: 1px solid var(--dt-gray06);
}
.info-col-wrap .btn-group .btn .txt {
  color: var(--dt-gray11);
  font-size: 14px;
}

.plan-wrap.line {
  margin-top: 4px;
}
.plan-wrap.line .list-plan {
  padding-top: 20px;
}
.plan-wrap.line .list-plan .txt-title {
  color: var(--dt-gray16);
}
.plan-wrap.line .list-plan .txt-price {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.plan-wrap.line .txt-sub .img-box {
  width: 24px;
  height: 24px;
}
.plan-wrap.line .txt-sub .img-box img {
  width: 18px;
  transform: translateY(-1px);
}

.al-baseline {
  align-items: baseline;
  justify-content: center;
  column-gap: 12px;
  padding-top: 48px;
}
.al-baseline .ico32 {
  min-width: 32px;
  height: 32px;
}
.al-baseline .input-control {
  position: relative;
  width: calc((100% - 32px) / 2);
  padding-top: 0;
}
.al-baseline .input-control .input-label {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.al-baseline .input-control .input-row {
  margin: 0 auto;
  justify-content: center;
  column-gap: 0;
}
.al-baseline .input-control .input-row .value {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--dt-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.al-baseline .input-control .input-field {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.al-baseline .input-control .input-field::placeholder {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.al-baseline .input-control.error input:valid {
  color: var(--dt-error);
}
.al-baseline .input-control.error .input-row {
  border-color: var(--dt-black);
}
.al-baseline .input-control.focused .input-row {
  border-bottom: 2px solid var(--dt-black);
}
.al-baseline .input-control.focused .input-row .input-field {
  caret-color: var(--dt-black);
}
.al-baseline .input-control .input-row:has(input:focus) {
  border-bottom: 2px solid var(--dt-black);
}
.al-baseline .input-control .input-row:has(input:focus) .input-field {
  caret-color: var(--dt-black);
}
.al-baseline .input-control .txt-sub {
  margin-top: 8px;
  text-align: center;
}
.al-baseline .bubble-box.topright {
  padding-right: 10px;
  padding-left: 10px;
  bottom: calc(100% + 8px) !important;
  right: 50%;
  transform: translateX(12.5%);
}
.al-baseline .bubble-box.topright .bubble-box-arrow {
  right: 16px;
}
.al-baseline .bubble-box.topright .bubble-box-arrow::after {
  left: 0;
}

.list-payment {
  margin-top: 20px;
}
.list-payment .card.solid {
  row-gap: 8px;
  padding: 18px 24px 22px;
}
.list-payment .card.solid .row {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
.list-payment .card.solid .row.detail .txt-title {
  color: var(--dt-gray11);
}
.list-payment .card.solid .txt-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray16);
}
.list-payment .card.solid .txt-date {
  color: var(--dt-gray11);
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  padding-bottom: 4px;
}
.list-payment .card.solid .txt-desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2px;
  margin-left: auto;
  color: var(--dt-gray16);
  font-size: 14px;
  font-weight: 500;
}
.list-payment .card.solid .txt-desc .img-box {
  width: 16px;
  min-width: 16px;
  height: 16px;
}
.list-payment .card.solid .color-prim {
  font-weight: 600;
}

.segment__wrap {
  margin-top: 10px;
}

.segment-content .list-payment {
  margin-top: 2px;
}

@media screen and (max-width: 359px) {
  .al-baseline {
    column-gap: 8px;
  }
}
@media screen and (max-width: 269px) {
  .al-baseline {
    flex-wrap: wrap;
  }
  .al-baseline .input-control {
    width: calc(100% - 44px);
  }
  .al-baseline .input-control .input-row {
    max-width: 100%;
  }
  .al-baseline .input-control .input-field {
    max-width: 100%;
  }
  .al-baseline .input-control.error .bubble-box.topright {
    transform: translateX(-50%);
    right: unset;
    left: 50%;
  }
  .al-baseline .input-control.error .bubble-box.topright .bubble-box-arrow {
    right: unset;
    left: 50%;
    margin-left: -8px;
  }
}