.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}
.popup-wrapper.popup__tit .popup-header {
  margin-bottom: 4px;
}
.popup-wrapper .popup__wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--dt-white);
}
.popup-wrapper .popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 4px;
  padding: 28px 16px 16px 20px;
}
.popup-wrapper .popup-header:has(.popup-tit.hidden) {
  padding: 16px;
}
.popup-wrapper .popup-header .popup-tit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.popup-wrapper .popup-header .popup-tit .txt {
  color: var(--dt-gray16);
  font-size: 20px;
  font-weight: 700;
}
.popup-wrapper .popup-header .btn-popup-close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.popup-wrapper .popup-header .btn-popup-close img {
  width: 24px;
  height: 24px;
}
.popup-wrapper .popup-body {
  overflow-y: auto;
  min-height: 84px;
  max-height: 513px;
  padding: 0 20px 20px;
}
.popup-wrapper .popup-footer {
  padding: 0 20px;
  margin: 20px 0 20px;
}

.back-drop {
  background-color: var(--dt-black);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.authorization .auth {
  text-align: center;
}
.authorization .auth .txt {
  font-size: 16px;
  font-weight: 500;
  color: var(--dt-gray11);
  margin-bottom: 10px;
}
.authorization .auth .tit {
  font-size: 24px;
  font-weight: 600;
  color: var(--dt-black);
}
.authorization .auth .deco {
  font-size: 24px;
  font-weight: 600;
  color: var(--dt-primary);
}
.authorization .input_code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 0 26px;
  gap: 6px;
}
.authorization .input_code .code-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.authorization .input_code .code-group .code-box {
  display: inline-block;
  width: 48px;
  min-height: 52px;
  padding: 12px 8px;
  border-radius: 4px;
  background: var(--dt-gray02);
}
.authorization .input_code .code-group .code-box .num {
  font-size: 24px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.authorization .input_code .code-group .code-box .num.placeholder {
  color: var(--dt-gray11);
}
.authorization .tab__wrap {
  display: none;
}
.authorization .auth_birth {
  display: none;
}
.authorization .auth_business {
  display: none;
}
.authorization .auth_corporation {
  display: none;
}
.authorization.tab .tab__wrap {
  display: block;
}
.authorization.birth .auth_birth {
  display: block;
}
.authorization.business .auth_business {
  display: block;
}
.authorization.corporation .auth_corporation {
  display: block;
}