@charset "UTF-8";
.section__cont {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section__cont.counsel {
  gap: unset;
}
.section__cont .cont__wrap.cont__wrap-message {
  padding-top: 20px;
}

.section__divider:has(+ .counsel) {
  margin-top: 48px;
}

.page-wrapper:has(.cont__wrap-service.rmDetail) {
  background-color: var(--dt-gray05);
}

.section__cont:has(.cont__wrap-service.rmDetail) {
  padding: 72px 0 95px;
  gap: 0;
}

.cont__wrap-service.rmDetail {
  padding: 20px 20px 40px;
  background-color: var(--dt-gray05);
}
.cont__wrap-service.rmDetail .con__tit-box {
  flex-direction: column;
  margin-bottom: 20px;
  gap: 12px;
}
.cont__wrap-service.rmDetail .con__tit-box .text-box {
  text-align: left;
  gap: 6px;
}
.cont__wrap-service.rmDetail .con__tit-box .text-box .tit {
  font-size: 22px;
  font-weight: 700;
}
.cont__wrap-service.rmDetail .con__tit-box .text-box .txt {
  height: 42px;
  line-height: 1.5;
}
.cont__wrap-service.rmDetail .card.rmInform {
  box-shadow: none;
  border-radius: 16px;
  padding: 28px 20px;
}
.cont__wrap-service.rmDetail .card.rmInform .card-body {
  gap: 20px;
}
.cont__wrap-service.rmDetail .card.rmInform .item {
  flex-direction: column;
  gap: 6px;
}
.cont__wrap-service.rmDetail .card.rmInform .item .btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 4px;
  gap: 4px;
}
.cont__wrap-service.rmDetail .card.rmInform .tit {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray14);
}
.cont__wrap-service.rmDetail .card.rmInform .announceMent {
  margin-bottom: 28px;
  gap: 12px;
}
.cont__wrap-service.rmDetail .card.rmInform .announceMent .card .card-body {
  gap: 8px;
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone {
  margin-bottom: 20px;
  gap: 12px;
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .tit span {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray14);
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList {
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card {
  padding: 14px 20px;
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-body {
  gap: 8px;
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-body .tit {
  font-size: 16px;
  color: var(--dt-gray16);
}
.cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-footer .close {
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/ic-card_close_small_line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cont__wrap-service.rmDetail .card.rmInform .discnt-price {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cont__wrap-service.rmDetail .card.rmInform .discnt-price .card-body {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  width: 98px;
}
.cont__wrap-service.rmDetail .card.rmInform .discnt-price .card-body:after {
  content: "할인";
  display: block;
  position: absolute;
  top: 0;
  right: -74px;
  width: 74px;
  height: 100%;
  padding-top: 46px;
  padding-left: 12px;
  background-image: url(../images/img/bg_discount_arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--dt-primary);
  font-size: 10px;
  font-weight: 600;
}
.cont__wrap-service.rmDetail .card.rmInform .discnt-price .card-body p {
  padding: 9px 0;
  background-color: var(--dt-gray06);
  color: var(--dt-gray16);
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
}
.cont__wrap-service.rmDetail .card.rmInform .discnt-price .card-footer {
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 60px;
  height: 60px;
  background-color: var(--dt-primary);
  color: var(--dt-white);
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
}

.rmAnnounce .popup-body {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.rmAnnounce .popup-body .cont__wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
.rmAnnounce .popup-body .cont__wrap .con__tit-box {
  margin-bottom: 0;
}
.rmAnnounce .popup-body .cont__wrap:first-child {
  padding-top: 12px;
}

.rmLandingAnnounce .popup-tit .txt span {
  font-size: 20px;
  font-weight: 700;
}
.rmLandingAnnounce .popup-body {
  padding-top: 16px;
}