.section__cont {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section__cont.counsel {
  gap: unset;
}
.section__cont .cont__wrap.cont__wrap-message {
  padding-top: 20px;
}

.section__divider:has(+ .counsel) {
  margin-top: 48px;
}

.page-wrapper:has(.cont__wrap-rmDetail) {
  background-color: var(--dt-gray05);
}

.section__cont:has(.cont__wrap-rmDetail) {
  gap: 0;
}

.cont__wrap-rmDetail {
  padding: 20px 20px 40px;
}
.cont__wrap-rmDetail .con__tit-box {
  flex-direction: column;
  margin-bottom: 20px;
  gap: 12px;
}
.cont__wrap-rmDetail .con__tit-box .text-box {
  text-align: left;
  gap: 6px;
}
.cont__wrap-rmDetail .con__tit-box .text-box .tit {
  font-size: 22px;
  font-weight: 700;
}
.cont__wrap-rmDetail .con__tit-box .text-box .txt {
  height: 42px;
  line-height: 1.5;
}
.cont__wrap-rmDetail .card.rmDetail {
  box-shadow: none;
  border-radius: 16px;
  padding: 28px 20px;
}
.cont__wrap-rmDetail .card.rmDetail .card-body {
  gap: 20px;
}
.cont__wrap-rmDetail .card.rmDetail .item {
  flex-direction: column;
  gap: 6px;
}
.cont__wrap-rmDetail .card.rmDetail .tit {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray14);
}
.cont__wrap-rmDetail .card.rmDetail .announceMent {
  margin-bottom: 28px;
  gap: 12px;
}
.cont__wrap-rmDetail .card.rmDetail .announceMent .card .card-body {
  gap: 8px;
}
.cont__wrap-rmDetail .card.rmDetail .announceMent .card.mentOn .card-body .txt {
  color: var(--dt-gray16);
}
.cont__wrap-rmDetail .card.rmDetail .announceMent .btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 4px;
  gap: 4px;
}