.cont__wrap-realtimeRoaming {
  background-image: url(../images/img/img-hm-roaming.png);
}

.section__cont.used {
  padding-top: 20px;
}
.section__cont.used .chips-refresh {
  margin-left: auto;
}

.roamingPrice .roaming {
  padding-top: 22px;
}
.roamingPrice .roaming .row {
  align-items: center;
}
.roamingPrice .roaming .txt-title {
  font-size: 16px;
  align-self: unset;
}
.roamingPrice .roaming .txt-price {
  font-size: 18px;
  color: var(--dt-black);
}
.roamingPrice .roaming .txt-price span:first-of-type {
  font-size: 18px;
}
.roamingPrice .roaming .btn.bg-withdraw {
  margin-top: 20px;
}
.roamingPrice .txt-caution {
  text-align: right;
  line-height: 150%;
  margin-top: 12px;
}

.popup-body:has(.invoice) {
  padding-top: 20px;
}
.popup-body:has(.invoice) .cont__wrap .con__tit-box .tit-head {
  flex-wrap: wrap;
}