.roamingRealtime .roamingPrice .roaming {
  padding-top: 22px;
}
.roamingRealtime .roamingPrice .roaming .row {
  align-items: center;
}
.roamingRealtime .roamingPrice .roaming .txt-title {
  font-size: 16px;
  align-self: unset;
}
.roamingRealtime .roamingPrice .roaming .txt-price {
  font-size: 18px;
  color: var(--dt-black);
}
.roamingRealtime .roamingPrice .roaming .txt-price span:first-of-type {
  font-size: 18px;
}
.roamingRealtime .roamingPrice .roaming .btn.bg-withdraw {
  margin-top: 20px;
}
.roamingRealtime .roamingPrice .txt-caution {
  text-align: right;
  line-height: 150%;
  margin-top: 12px;
}
.roamingRealtime .cont__wrap.cont__wrap-vertical:has(> .chips-refresh) {
  gap: 8px;
}
.roamingRealtime .cont__wrap.cont__wrap-vertical:has(> .chips-refresh) .con__tit-box {
  margin-bottom: 8px;
}
.roamingRealtime .cont__wrap.cont__wrap-vertical:has(> .chips-refresh) .chips-refresh {
  align-self: flex-end;
}