.page-wrapper.roamingRealtime .container .section__cont {
  padding: 72px 0 95px;
}
.page-wrapper.roamingRealtime .container .section__cont.summary {
  padding-bottom: 18px;
  background-color: #DCE6FF;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  height: -moz-max-content;
  height: max-content;
  min-height: 188px;
  padding-top: 28px;
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: right 10px bottom 0;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap .info-price-wrap .info-price.total-last .row, .page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap .info-price-wrap .info-price-detail.total-last .row {
  margin-top: 4px;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-bill {
  background-image: url(../images/img/img-hm-bill.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-realtime {
  background-image: url(../images/img/img-hm-realtime.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-usestate {
  background-image: url(../images/img/img-hm-usestate.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-account {
  background-image: url(../images/img/img-hm-account.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-payment {
  background-image: url(../images/img/img-hm-automatic-withdrawal.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-billMthdChng {
  background-image: url(../images/img/img-hm-bill.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-pauseTemp {
  background-image: url(../images/img/img-hm-pauseTemp.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-MOPaymentUsed {
  background-image: url(../images/img/img-hm-MOpayment.png);
  background-position: right -5px top 16px;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-MOPaymentUsed + .info-price-single p.txt-info {
  font-size: 14px;
  font-weight: 500;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .cont__wrap-plan {
  background-image: url(../images/img/img-hm-myplan.png);
}
.page-wrapper.roamingRealtime .container .section__cont.summary .txt-select-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: var(--dt-gray16);
  padding-right: 30%;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .txt-select-wrap .txt {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .txt-select-wrap:has(.chips-date + .txt) .txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .txt-select-wrap .chips-date .txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .btn-tooltip {
  margin-left: 2px;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .btn-tooltip img {
  width: 20px;
  height: 20px;
}
.page-wrapper.roamingRealtime .container .section__cont.summary .tooltip-wrap {
  max-width: 280px;
}
.page-wrapper.roamingRealtime .container .section__cont.desc {
  padding: 36px 0 48px 0;
  gap: 48px;
}
.page-wrapper.roamingRealtime .container .section__cont.desc:has(.accnt-cont-wrap) {
  height: calc(100% - 262px);
}
.page-wrapper.roamingRealtime .container .section__cont.desc:has(.cont__wrap-service) {
  padding: 72px 0 95px;
}
.page-wrapper.roamingRealtime .container .section__cont.counsel {
  padding: 36px 0 0px;
}
.page-wrapper.roamingRealtime .container .section__cont.used {
  padding-top: 20px;
}
.page-wrapper.roamingRealtime .container .section__cont.used .chips-refresh {
  margin-left: auto;
}
.page-wrapper.roamingRealtime .container .section__cont .cont__wrap.cont__wrap-realtimeRoaming {
  background-image: url(../images/img/img-hm-roaming.png);
}
.page-wrapper.roamingRealtime .container .section__cont .cont__wrap.cont__wrap-btBtn:has(.accordion-container) {
  background-color: var(--dt-white);
  z-index: 999;
}

.card.rmPeriod {
  padding: 22px 16px;
  gap: 20px;
}
.card.rmPeriod .card-header {
  display: flex;
}
.card.rmPeriod .card-header .item {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.card.rmPeriod .card-header .tit {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dt-primary);
}
.card.rmPeriod .card-header .img-box {
  width: 24px;
  min-width: 24px;
  height: 24px;
}
.card.rmPeriod .card-body {
  align-items: center;
  gap: 20px;
}
.card.rmPeriod .card-body .period-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card.rmPeriod .card-body .period-wrap .item {
  flex-direction: column;
  align-items: center;
}
.card.rmPeriod .card-body .period-wrap .item .tit {
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}
.card.rmPeriod .card-body .period-wrap .item .txt {
  text-align: center;
}
.card.rmPeriod .card-body .period-wrap .item.date {
  gap: 0;
}
.card.rmPeriod .card-body .period-wrap .item.period {
  position: relative;
  justify-content: center;
  width: 72px;
  max-width: 72px;
}
.card.rmPeriod .card-body .period-wrap .item.period::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  border: 1px dashed var(--dt-gray09);
}
.card.rmPeriod .card-body .period-wrap .item.period .chips-tag {
  z-index: 1;
}
.card.rmPeriod .card-body .list-wrap {
  width: 100%;
  margin-top: 0;
  padding: 20px 0 0 0;
  border-top: 1px solid var(--dt-gray06);
  background-color: transparent;
  border-radius: unset;
}
.card.rmPeriod .card-body .list-wrap .list-box {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px 0;
  border-bottom: none;
  gap: 12px;
}
.card.rmPeriod .card-body .list-wrap .list-box:first-child {
  padding-top: 0;
}
.card.rmPeriod .card-body .list-wrap .list-box:last-child {
  padding-bottom: 0;
}
.card.rmPeriod .card-body .list-wrap .list-box .head {
  min-width: 64px;
  text-align: left;
  line-height: 150%;
}
.card.rmPeriod .card-body .list-wrap .list-box .tail {
  text-align: left;
  line-height: 150%;
  color: var(--dt-gray11);
  margin-left: 0;
  max-width: unset;
}
.card.rmPeriod .card-body .list-wrap .list-box .tail .price {
  font-weight: 700;
  color: var(--dt-black);
}
.card.rmPeriod .card-body .list-wrap .list-box .tail .info {
  font-size: 12px;
}
.card.rmPeriod .card-body .list-wrap .list-box .tail.total {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card.rmPeriod .card-footer .btn {
  background-color: var(--dt-gray06);
}
.card.rmPeriod .card-footer .btn .txt {
  font-size: 14px;
}

.roamingPrice .roaming {
  padding-top: 22px;
}
.roamingPrice .roaming .row {
  align-items: center;
}
.roamingPrice .roaming .txt-title {
  font-size: 16px;
  align-self: unset;
}
.roamingPrice .roaming .txt-price {
  font-size: 18px;
  color: var(--dt-black);
}
.roamingPrice .roaming .txt-price span:first-of-type {
  font-size: 18px;
}
.roamingPrice .roaming .btn.bg-withdraw {
  margin-top: 20px;
}
.roamingPrice .txt-caution {
  text-align: right;
  line-height: 150%;
  margin-top: 12px;
}

@media screen and (max-width: 359px) {
  .card.rmPeriod .period-wrap {
    flex-direction: column;
    gap: 20px;
  }
}