.cont__wrap-realtimeRoaming,
.cont__wrap-roamingHistory {
  background-image: url(../images/img/img-hm-roaming.png);
}

.section__cont.used {
  padding-top: 20px;
}
.section__cont.used .chips-refresh {
  margin-left: auto;
}

.roamingPrice .roaming {
  padding-top: 22px;
}
.roamingPrice .roaming .row {
  align-items: center;
}
.roamingPrice .roaming .txt-title {
  font-size: 16px;
  align-self: unset;
}
.roamingPrice .roaming .txt-price {
  font-size: 18px;
  color: var(--dt-black);
}
.roamingPrice .roaming .txt-price span:first-of-type {
  font-size: 18px;
}
.roamingPrice .roaming .btn.bg-withdraw {
  margin-top: 20px;
}
.roamingPrice .txt-caution {
  text-align: right;
  line-height: 150%;
  margin-top: 12px;
}

.page-wrapper .container .section__cont:has(.rmInvoice) {
  padding-top: 72px;
  gap: 0;
}

.page-wrapper:has(.rmInvoice) + .toast-wrap {
  bottom: 154px;
}

.cont__wrap-service.rmInvoice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cont__wrap-service.rmInvoice .con__tit-box {
  margin-bottom: 0;
}
.cont__wrap-service.rmInvoice .list-wrap {
  margin-top: 0;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .tail {
  color: var(--dt-gray14);
}
.cont__wrap-service.rmInvoice .list-wrap .list-box.title .head, .cont__wrap-service.rmInvoice .list-wrap .list-box.total .head {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dt-gray16);
  gap: 6px;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box.title .tail, .cont__wrap-service.rmInvoice .list-wrap .list-box.total .tail {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dt-gray16);
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap {
  width: 100%;
  margin-top: 0;
  padding: 0;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box {
  align-items: flex-start;
  padding: 4px 0;
  border: none;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .head, .cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .tail {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dt-gray12);
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .head {
  width: calc(100% - 81px);
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .tail {
  min-width: 81px;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .list-box {
  padding: 0;
}
.cont__wrap-service.rmInvoice .list-wrap .list-box .list-wrap .list-box .list-box .head {
  width: 100%;
  padding-left: 11px;
  background-image: url(../images/icon/ic-list-brace.svg);
  background-repeat: no-repeat;
  background-position: 0px 6px;
  background-size: 8px;
}

.popup-body:has(.invoice) {
  padding-top: 20px;
}
.popup-body:has(.invoice) .cont__wrap .con__tit-box .tit-head {
  flex-wrap: wrap;
}