.page-wrapper {
  height: 100%;
}
.page-wrapper .container {
  height: 100%;
}
.page-wrapper .container .section__cont {
  height: 100%;
  justify-content: space-between;
}

.cont__wrap.cont__wrap-service {
  height: 100%;
  overflow-y: auto;
  padding: 40px 20px 40px;
}
.cont__wrap:last-child {
  position: relative;
  background-color: var(--dt-white);
  padding: 0;
}
.cont__wrap:last-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0) 100%);
}
.cont__wrap:last-child .btn-group {
  padding: 0 20px 20px;
}
.cont__wrap:last-child .card-group {
  padding: 0 20px 20px;
}
.cont__wrap:last-child .card-group .card.horizon.solid {
  padding: 15px 16px;
}
.cont__wrap:last-child .card-group .sub-tit {
  font-size: 16px;
  font-weight: 500;
  color: var(--dt-gray11);
  margin-bottom: 12px;
}

.txt-infoWrap {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray11);
  margin-top: 28px;
}
.txt-infoWrap .subTxt-info {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray10);
}