.page-wrapper {
  height: 100%;
}
.page-wrapper .container {
  height: 100%;
}
.page-wrapper .container .section__cont {
  height: 100%;
  justify-content: space-between;
}

.cont__wrap:first-child {
  height: 100%;
  overflow-y: auto;
}
.cont__wrap .btn-group {
  padding: 20px 0;
}

.txt-infoWrap {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray11);
}
.txt-infoWrap .subTxt-info {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray10);
}