.container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.section__divider {
  width: 100%;
  min-height: 10px;
  background-color: var(--dt-gray03);
  box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.02);
}

.section__cont {
  padding: 0 20px;
}
.section__cont:first-child {
  background-color: var(--dt-gray07);
  padding: 56px 10px 18px 20px;
}
.section__cont .cont__txt-box {
  background-image: url(../images/img/img-hm-automatic-withdrawal.png);
  background-repeat: no-repeat;
  background-size: 140px 140px;
  background-position: right 0 bottom -20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 58px;
  padding-bottom: 56px;
}
.section__cont .cont__txt-box .txt-date .date {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray13);
}
.section__cont .cont__txt-box .txt-main {
  font-size: 22px;
  font-weight: 600;
  color: var(--dt-gray16);
}
.section__cont .cont__txt-box .txt-sub {
  font-size: 18px;
  font-weight: 600;
  color: var(--dt-gray14);
}
.section__cont .cont__txt-box .txt-sub .txt-point {
  font-size: 22px;
  font-weight: 700;
  color: var(--dt-primary);
}
.section__cont .cont__info-box {
  background-color: var(--dt-white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  padding: 16px 0;
}
.section__cont .cont__info-box .info-txt {
  font-size: 16px;
  font-weight: 600;
  color: var(--dt-gray11);
}
.section__cont .cont__info-box .info-txt .num-won {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.section__cont .cont__info-box .img-box img {
  width: 18px;
  height: 18px;
}
.section__cont .con__tit-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section__cont .con__tit-box .tit-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.section__cont .con__tit-box .tit-tail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section__cont .cont__list {
  background-color: var(--dt-gray02);
  border-radius: 8px;
  padding: 20px;
}
.section__cont .cont__list.cont-billing {
  margin-bottom: 16px;
}
.section__cont .cont__list.cont-billing .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__cont .cont__list.cont-billing .list-item:not(:last-child) {
  border-bottom: 1px solid var(--dt-gray06);
  padding-bottom: 16px;
}
.section__cont .cont__list.cont-billing .list-item:not(:first-child) {
  padding-top: 16px;
}
.section__cont .cont__list.cont-billing .list-item .list-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray14);
}
.section__cont .cont__list.cont-billing .list-item .list-tail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 4px;
}
.section__cont .cont__list.cont-billing .list-item .list-tail .img-box img {
  width: 16px;
  height: 16px;
}
.section__cont .cont__list.cont-billing .list-item .list-tail .tail-txt {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-black);
}
.section__cont .cont__list.cont-billing .list-item .list-tail .btn-right img {
  width: 20px;
  height: 20px;
}
.section__cont.section__cont-counsel {
  padding: 32px 20px 48px;
  background-color: var(--dt-gray05);
}
.section__cont.section__cont-counsel .con__tit-box {
  flex-direction: column;
  justify-content: center;
}
.section__cont.section__cont-counsel .txt-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}

.bullet-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 24px;
}
.bullet-list .bullet-tit {
  font-size: 12px;
  font-weight: 600;
  color: var(--dt-gray11);
}
.bullet-list .bullet-tit::before {
  content: "";
  display: inline;
  padding-left: 20px;
  background-image: url(../images/icon/ic-bullet-info.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left 0 center;
}
.bullet-list .bullet-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 2px;
}
.bullet-list .bullet-item .bullet-asterisk {
  text-indent: -999px;
}
.bullet-list .bullet-item .bullet-asterisk::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--dt-gray11);
  margin: 5px 4px 0 4px;
}
.bullet-list .bullet-item .bullet-txt {
  font-size: 12px;
  font-weight: 500;
  color: var(--dt-gray11);
}