.page-wrapper.is-scrolled .header {
  background-color: var(--dt-white);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 56px;
}

.section__divider {
  width: 100%;
  min-height: 10px;
  background-color: var(--dt-gray03);
  box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.02);
}

.section__cont {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.cont__wrap {
  padding: 0 20px;
}
.cont__wrap.cont__wrap-info {
  background-color: var(--dt-gray07);
  padding: 0 10px 18px 20px;
}
.cont__wrap .cont__txt-box {
  height: 188px;
  background-image: url(../images/img/img-hm-automatic-withdrawal.png);
  background-repeat: no-repeat;
  background-size: 140px 140px;
  background-position: right 0 bottom -22px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 4px;
  padding-bottom: 56px;
}
.cont__wrap .cont__txt-box .txt-date .date {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray13);
}
.cont__wrap .cont__txt-box .txt-main {
  font-size: 22px;
  font-weight: 600;
  color: var(--dt-gray16);
}
.cont__wrap .cont__txt-box .txt-sub {
  font-size: 18px;
  font-weight: 600;
  color: var(--dt-gray14);
}
.cont__wrap .cont__txt-box .txt-sub .txt-point {
  font-size: 22px;
  font-weight: 700;
  color: var(--dt-primary);
}
.cont__wrap .cont__info-box {
  background-color: var(--dt-white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  padding: 16px 0;
}
.cont__wrap .cont__info-box .info-txt {
  font-size: 16px;
  font-weight: 600;
  color: var(--dt-gray11);
}
.cont__wrap .cont__info-box .info-txt .num-won {
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.cont__wrap .cont__info-box .img-box img {
  width: 18px;
  height: 18px;
}
.cont__wrap .con__tit-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cont__wrap .con__tit-box .tit-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  color: var(--dt-gray16);
}
.cont__wrap .con__tit-box .tit-tail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cont__wrap .cont__list {
  background-color: var(--dt-gray02);
  border-radius: 8px;
  padding: 20px;
}
.cont__wrap .cont__list.cont-billing {
  margin-bottom: 16px;
}
.cont__wrap .cont__list.cont-billing .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont__wrap .cont__list.cont-billing .list-item:not(:last-child) {
  border-bottom: 1px solid var(--dt-gray06);
  padding-bottom: 16px;
}
.cont__wrap .cont__list.cont-billing .list-item:not(:first-child) {
  padding-top: 16px;
}
.cont__wrap .cont__list.cont-billing .list-item .list-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray14);
}
.cont__wrap .cont__list.cont-billing .list-item .list-tail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.cont__wrap .cont__list.cont-billing .list-item .list-tail .img-box img {
  width: 16px;
  height: 16px;
}
.cont__wrap .cont__list.cont-billing .list-item .list-tail .tail-txt {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-black);
}
.cont__wrap .cont__list.cont-billing .list-item .list-tail .btn-right img {
  width: 20px;
  height: 20px;
}
.cont__wrap.cont__wrap-counsel {
  padding: 32px 20px 48px;
  background-color: var(--dt-gray05);
}
.cont__wrap.cont__wrap-counsel .con__tit-box {
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.cont__wrap.cont__wrap-counsel .txt-head {
  font-size: 14px;
  font-weight: 500;
  color: var(--dt-gray11);
}