@import '../base/mixin';

/* util button */
.btn {
    &.btn-top { // 탑버튼
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        @include boxShadow(0, 8px, 12px, 0, rgba(0, 0, 0, 0.2));
    }
    &.btn-between {
        @include flexBox(between, center);
        width: 100%;
        border-radius: 4px;
        .txt {
            @include fw-6(14px);
            color: var(--dt-gray11);
        }
        &:active {
            box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
        }
        &.is-disabled {
            box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
        }
        &.bg-withdraw {
            column-gap: 6px;
            background-color: var(--dt-white);
            padding: 8px 10px;
            color: var(--dt-gray10);
            .txt {
                font-weight: var(--dt-fw500);
            }
        }
        &.bg-bank {
            column-gap: 8px;
            background-color: var(--dt-gray07);
            padding: 8px;
            color: var(--dt-gray10);

        }
        &.btn-payment {
            .txt-box {
                display: none;
            }
            &.is-selected {
                .txt-box {
                    display: block;
                    @include flexBox(end, center);
                    .txt {
                        @include fw-5(14px);
                        color: var(--dt-primary);
                    } 
                }
            }
        }

    }
    &.btn-start {
        @include flexBox(start, center);
        width: 100%;
        border-radius: 4px;
        &.btn-data {
            @include border(var(--dt-gray17));
            background-color: var(--dt-white);
            .txt-box {
                // @include flexBox(start, center);
                .txt {
                    &:nth-child(1) {
                        font-weight: var(--dt-fw600);
                        color: var(--dt-gray16);
                        &::after {
                            display: inline-block;
                            content: '';
                            margin: 0 12px;
                            width: 1px;
                            height: 10px;
                            background-color: var(--dt-gray09);
                        }
                    }
                    &:nth-child(2) {
                        @include fw-5(14px);
                        color: var(--dt-gray11);
                    }
                }
            }
            &.is-selected {
                border: 2px solid var(--dt-primary);
                .txt-box {
                    .txt {
                        color: var(--dt-primary);
                        &:nth-child(1) {
                            &::after {
                                background-color: var(--dt-primary);
                            }
                        }
                    } 
                }
            }
        }
    }
}

/* single button */
.btn-group {
    .btn {
        width: 100%;
        padding:17px 4px 16px;
        background-color:var(--dt-gray03);
        border: 1px solid var(--dt-gray03);
        text-align: center;
        vertical-align:middle;
        border-radius: 4px;
        .txt {
            color: var(--dt-gray11);
            @include fw-6($fs: 16px);
            letter-spacing: -0.5px;
        }
        .img-box{
            &.ico16 {
                img {margin-top:2px;}
            }
        }
        &.is-disabled {
            opacity: 0.6;
        }
        &:active { // pressed 인터렉션
            box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
        }

        &.btn-prim { // 버튼 1레벨
            background-color: var(--dt-primary);
            border: 1px solid var(--dt-primary);
        }
        &.btn-sec { // 버튼 2레벨
            background-color: var(--dt-gray13);
            border: 1px solid var(--dt-gray13);
        }
        &.btn-prim, &.btn-sec {
            .txt {color:var(--dt-white);}
        }
        &.line {
            padding:16px 4px 15px;
            background-color:transparent;
            border: 1px solid var(--dt-gray17);
            &.btn-prim {
                border: 1px solid var(--dt-primary);
                .txt {color:var(--dt-primary);}
            }
            &.btn-sec {
                border: 1px solid var(--dt-gray13);
                .txt {color:var(--dt-gray13);}
            }
        }

        /* sizing */
        &.btn-md { // 중간높이
            width:100%;
            padding-top:10px;
            padding-bottom:10px;
            .txt {
                letter-spacing:normal;
                font-size:12px;
            }
        }
    }

}

/* multi button */
.btn-group {
    &.flex-row {
        @include flexRow();
        justify-content: space-between;align-items:center;
        gap: 8px;
        .btn {
            flex: 1;
        }
        &.is-confirm {// 버튼2개 + 확인,취소 영역의 경우 우측버튼(마지막버튼) 언제나 primary full bg
            .btn {
                &:last-of-type {
                    background-color: var(--dt-primary);
                    border: 1px solid var(--dt-primary);
                    .txt {color:var(--dt-white);}
                }
            }
        }
    }
    &.flex-column {
        @include flexColum();
        justify-content: center;align-items:flex-start;
        row-gap: 8px;
        .btn {
            width: 100%;
        }
    }
}
