@import '../base/mixin';
.datepicker-UI, .range-datepicker {

	.resetDate {
		min-width: 256px;
		max-width: 250px;
		margin: auto;
	}
	.vanillajs-datepicker {
		
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: auto;
		gap: 4px;
		.datepicker:not(.active) {
			display: block !important;
		}
		input[name="start"] + .datepicker:not(.active) {
			display: none !important;
		}
		input[name="end"] + .datepicker:not(.active) {
			display: block !important;
		}

		// &.start_day {
		// 	input[name="start"] + .datepicker:not(.active) {
		// 		display: block !important;
		// 	}
		// 	input[name="end"] + .datepicker:not(.active) {
		// 		display: none !important;
		// 	}
		// }
		// &.end_day {
		// 	input[name="start"] + .datepicker:not(.active) {
		// 		display: none !important;
		// 	}
		// 	input[name="end"] + .datepicker:not(.active) {
		// 		display: block !important;
		// 	}
		// }
		
		&.year-month-day {
			min-height: 380px;
			padding-top: 12px;
		}
		// 켈린더 인풋 회색 박스
		.datepicker__input-wrap {
			position: relative;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			column-gap: 12px;
			background-color: var(--dt-gray02);
			border-radius: 8px;
			padding: 14px 16px;
			@include fw-6(18px);
			line-height: 1.5;
			color: var(--dt-gray11);
			
		}
		// 인풋 입력 영역 + 인풋 유닛
		.datePicker__input-box {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			min-width: 86px;
			max-width: 124px;
			&:has(.hyphen) {
				max-width: calc(124px + 24px);
			}		
			// 인풋 입력 영역
			.input-field {
				flex: 1;
				@include fw-6(14px);
				line-height: 1.2;
				color: var(--dt-gray16);
				text-align: center;
			}
			// 인풋 유닛
			.input-field-unit {
				flex: 0 auto;
				@include fw-5(14px);
				line-height: 1.5;
				color: var(--dt-gray11);
				&.hyphen {
					@include fw-6(18px);
					line-height: 1.2;
					padding-right: 12px;
				}
			}
			// 켈린더 정렬
			.datepicker-picker {
				align-items: center;		
				box-shadow: none;
				min-width: 220px;
				max-width: 320px;
				margin: auto;
			}
		}
	}

	// vanillajs-datepicker-1.3.4
	.datepicker {
		.datepicker-grid {
			align-items: center;
		}
		&.datepicker-dropdown  {
			// position: static;
			// display: unset;
			left: 50% !important;
			transform:translateX(-50%);
			top: 70px !important;
			//bottom: -300px !important;
		}
		// span {
		// 	border-radius: 40px;
		// }
		// .dow {
		// 	height: 2.25rem;
		// 	// flex-basis: 40px !important;
		// 	@include fw-7(12px);
		// 	line-height: 1.5;
		// 	color: var(--dt-gray11);
		// }
		// .datepicker-cell {	
		// 	position: relative;
		// 	// height: 40px;
		// 	// flex-basis: 40px !important;
		// 	background-color: var(--dt-white);
		// 	&.day {
		// 		position: relative;
		// 		@include fw-6(11px);
		// 		line-height: 1;
		// 		color: var(--dt-gray14);
				
		// 	}
		// 	&.day::nth-child(7n) {
		// 		&.range {
		// 			border-radius: 0 0 40px 40px;
		// 		}
		// 	}
		// 	&.next, &.prev {
		// 		opacity: 0.4;
		// 	}
		// 	&.disabled {
		// 		opacity: 0.4;
		// 	}
		// 	&:hover {
		// 		background-color: transparent;
		// 	}
		// 	&:not(.disabled):active {
		// 		box-shadow: inset 0 0 0px 20em rgba(0, 0, 0, 0.06);
		// 	}
		// 	&.focused:not(.selected) {
		// 		background-color: #F3F5F6;
		// 		border: 1px solid #F3F5F6;
		// 		color: var(--dt-gray14);			
		// 	}
		// 	&.selected, &.range-end, &.range-start {
		// 		border-radius: 40px;
		// 		background-color: var(--dt-white);
		// 		border: 1px solid var(--dt-primary);
		// 		color: var(--dt-primary);
		// 	}
		// 	&.range {
		// 		&:not(.disabled) {
		// 			height: 22px;
		// 			background-color: rgb(227 0 132 / 20%);
		// 			color: var(--dt-gray14);
		// 		}
		// 	}
		// 	&.today {
		// 		&:not(.range):not(.selected) {				
		// 			background-color: #F3F5F6;
		// 			border: 1px solid #F3F5F6;
		// 			color: var(--dt-gray14);
		// 		}
		// 		&::before {
		// 			display: inline-block;
		// 			content: "오늘";
		// 			padding: 0 6px;
		// 			font-size: 8px;
		// 			line-height: 14px;
		// 			font-weight: 600;
		// 			position: absolute;
		// 			top: -8px;
		// 			background-color: var(--dt-white);
		// 			border: 1px solid var(--dt-primary);
		// 			color: var(--dt-primary);
		// 			border-radius: 20px;
		// 		}
		// 		&::after {
		// 			display: inline-block;
		// 			content: '';
		// 			position: absolute;
		// 			top: 7px;
		// 			left: 50%;
		// 			transform:translateX(-50%);
		// 			width: 7px;
		// 			height: 4px;
		// 			background-image: url(../images/icon/triangle-border.svg);
		// 			background-size: 100%;
		// 			background-repeat: no-repeat;
		// 			background-position: center;
		// 		}
		// 		&.range {
		// 			background-color: rgb(227 0 132 / 20%);
		// 			color: var(--dt-gray14);
		// 			&::before {
		// 				top: -14px;
		// 			}
		// 			&::after {
		// 				top: 1px;
						
		// 			}
		// 		}
			
				
		// 	}
			
			
		
			
		// 	// &.range-start:not(.range-end) + .range, 
		// 	// &.range-end:not(.range-start) {
		// 	// 	&::before {
		// 	// 		display: inline-block;
		// 	// 		content: "";
		// 	// 		width: 4px;
		// 	// 		height: 22px;
		// 	// 		background-color: rgb(227 0 132 / 20%);
		// 	// 		position: absolute;
		// 	// 		top: 50%;
		// 	// 		transform: translateY(-50%);
		// 	// 	}
		// 	// }
		// 	// &.range-start:not(.range-end) {
		// 	// 	&::before  {
		// 	// 		right: -1px;
		// 	// 	}
		// 	// }
		// 	// &.range-end:not(.range-start) {
		// 	// 	&::before {
		// 	// 		left: -1px;
		// 	// 	}
		// 	// }
			
			
			
			
		// }
		// .datepicker-header {
		// 	.datepicker-controls {
		// 		width: 203px;
		// 		justify-content: center;
		// 		align-items: center;
		// 		padding: 0;
		// 		.button {
		// 			height: auto;
		// 			background-color: transparent;
		// 			@include fw-7(20px);
		// 			line-height: 1.2;
		// 			color:var(--dt-gray16);
		// 			padding: 0;
		// 			[disabled] {
		// 				opacity: 0;
		// 			}
		// 			&.next-button, &.prev-button {
		// 				color: transparent;
		// 				font-size: 0;
		// 				flex: 0 0 32px;
		// 				width: 100%;
		// 				height: 32px;
		// 				background-image: url(../images/icon/ic-btn-arrow-right-lg.svg);
		// 				background-position: center;
		// 				background-repeat: no-repeat;
		// 				background-size: 24px;
		// 				padding: 8px;
		// 				&:hover, &:focus, &:active {
		// 					background-color: transparent;
		// 					box-shadow: none;
		// 					border-color: transparent;
		// 					color: transparent;
		// 				}
						
		// 			}
		// 			&.next-button {
		// 				transform: rotate(180deg);
		// 			}
		// 		}
				
		// 	}
		// }
	}

}

