@import '../base/mixin';

// 공통 스타일
%hidden {display: none;}
%block {display: block;}
%flex {display: flex;}
.chips-group {margin-top:8px;}
// 공지 텍스트 fw-7 gray11
.notice-txt {
	margin-top: 8px;
	span {
		color: var(--dt-gray11);
		@include fw-7(14px);
		line-height:21px;
	}
}
.input-col-wrap {
	@include flexColum;
	row-gap:24px;
	.input-control:first-of-type {margin-top:18px;}
	.segment__wrap {padding-top:14px;}
}
.input-row-wrap {
	@include flexRow;
	align-items:center;
	column-gap:8px;
	.hyphen {width:18px;margin-top:10px;color:var(--dt-gray11);text-align:center;font-size:18px;font-weight:600;}
	.input-control {
		width:calc((100% - 30px) / 2);
	}

}
// input
/* 초기화 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	@include fw-6(18px);
	color: var(--dt-gray16);
}
input::placeholder {
	font-family: "Pretendard", system-ui, sans-serif;
	color: var(--dt-gray11);
	@include fw-6(18px);
	line-height: 1.2;
}

// 입력 필드 스타일
.input-field {
	transition: border-color 0.2s ease-in-out;
	cursor: text;
	visibility: visible;
}
// 라벨 스타일
.input-label {
	@include fw-6(12px);
	line-height: 1.2;
	color: var(--dt-gray11);

	transition: all 0.2s ease-in-out;
}
.util-box {
	display: flex;
	align-items: center;
	flex: none;
	column-gap: 6px;
	@extend %hidden;
	margin-left: auto;
}
// unit
.input-unit {
	color: var(--dt-gray11);
	@include fw-6(18px);
	line-height: 1.2;
	.unit-point {
		color: var(--dt-gray16);
	}
}
// Clear 버튼 : 기본상태-hidden
.clear-btn {
	border: none;
	width: 24px; 
	height: 24px;
	background-image: url(../images/icon/ic-close_circle_filled.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
// 검색 버튼 
.srch-btn {
	@include fw-6(14px);
	line-height: 1;
	color: var(--dt-gray11);
	padding: 8px 16px;
	border-radius: 4px;
	background-color: var(--dt-gray03);
}
// 헬퍼 텍스트
.validation-txt {
	color: var(--dt-gray11);
	width: 100%;
	word-break: break-word;
	align-items: flex-start;
	gap: 4px;
	&::before {
		flex: none;
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0 0;
	}
}
.validation-txt {
	> * {		
		@include fw-6(12px);
		line-height: normal;
		display: inline-block;
		margin-top: 1px;
	}	
}

// Input Container 스타일
.input-control {
	width: 100%;
	padding-top: 16px;
}
.input-group {
	width: 100%;
	position: relative;
	
}
.input-row {
	width: 100%;
	min-height: 44px;
	@include flexBox(between, center);
	column-gap: 6px;
	border-bottom: 2px solid var(--dt-gray08);
	padding: 4px 0;
} 

// 상태별 스타일
.input-control {
	.validation-txt {
		@extend %hidden;
		margin-top: 9px;
	}
}
.focused {
	.input-row {
		border-bottom: 2px solid var(--dt-primary);
	}
	.input-field {
		caret-color: var(--dt-primary);
	}
}
.success {
	.input-row {
		border-bottom: 2px solid var(--dt-success);               
	}
	.validation-txt {
		@extend %flex;
		color: var(--dt-success);
		&:before {
			background-image: url(../images/icon/ic-check_circle_15.svg);
		}
	}
}
.error {
	.input-row {
		border-bottom: 2px solid var(--dt-error);
	}
	.validation-txt {
		@extend %flex;
		color: var(--dt-error);
		&:before {
			background-image: url(../images/icon/ic-error_circle_15.svg);
		}
	}
}
.tltip-error {
	.input-row {
		border-bottom: 2px solid var(--dt-error);
	}
	.input-field {
		color: var(--dt-error);
	}
	.validation-txt {
		background-image: url(../images/icon/ic-error_circle_15.svg);
		color: var(--dt-error);
	}
}
.disabled, .read-only {
	.input-row {
		pointer-events: none;
		border-bottom: 2px solid var(--dt-gray08);
	}
	.input-field {
		opacity: 0.4;
	}
}
.read-only {
	.input-field {
		opacity: 1;
	}
}

// floating UI
.input-control {
	&.floating {
		.input-label {
			position: absolute;
			top: 50%; // 기본 상태에서 필드 중앙에 배치
			left: 0;
			transform: translateY(-50%);
		}
	}
}

// 컴포넌트별 스타일 - email
.email-form {
	.input-group {
		width: 100%;
		position: relative;
		
	}
	.input-row {
		flex: 1;
	}
}
	
/* dropdown 선택 버튼 영역 */
.slct-perd-wrap {
	@include flexBox(between, center);
	border: 2px solid var(--dt-gray08);
	border-radius: 10px;
	padding: 12px 10px 12px 12px;
	background-color: transparent;
	&::after {
		display: inline-block;
		width: 24px;
		height: 24px;
		content: "";		
		background-image: url(../images/icon/chevron_down_line_24.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
	.slct-perd {
		text-align: left;
	}
	.slct-txt {
		@include fw-6(18px);
		color: var(--dt-gray11);		
		&.point {
			@include fw-6(16px);
			color: var(--dt-gray16);
		}
	}
	.hyphen {
		@include fw-6(18px);
		color: var(--dt-gray16);
		margin-right: 8px;
	}
}
	
.slct-email-wrap {
	@include flexBox(start, center);
	flex-wrap: wrap;
	border-radius: 10px;
	min-width: 85px;
	padding: 12px 38px 12px 10px;
	background-color: transparent;
	border: 2px solid var(--dt-gray08);
	background-image: url(../images/icon/chevron_down_line_24.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: right 6px center;
	.slct-txt {
		text-align: left;
		@include fw-6(18px);
		color: var(--dt-gray11);
		&.point {
			color: var(--dt-gray16);
		}
	}
}

// UI별 스타일 - code
.code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: fit-content;
	margin: 0 auto;
	padding: 42px 0 0 0;
	gap: 6px;
	.code-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 6px;
		.code-box {
			display: inline-block;
			width: 48px;
			min-height: 52px;
			padding: 12px 8px;
			border-radius: 4px;
			background: var(--dt-gray02);
			@include fw-7(24px);
			text-align: center;
			color: var(--dt-gray16);
		}
	}
	.validation-txt {
		text-align: left;
	}
}



.btn-field-dropdown {// 은행/증권사 선택시
	padding-top:12px;
	.ico {
		display:inline-block;
		margin-right:2px;
	}
	.txt {
		color: var(--dt-gray16);
	}
}
.btn-field-dropdown {
	padding:9px 0;
	background-image: url(../images/icon/chevron_down_line_24.svg);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: right 2px center;
	width: 100%;
	text-align: left;
	&:active {box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);}
	.ico {
		display:none;
		width:24px;
		height:24px;
		padding-top:1px;
		padding-bottom:1px;
		img {width:100%;transform:translateY(-2px);}
	}
	.txt {
		color: var(--dt-gray11);
		@include fw-6(18px);
		line-height: 1.2;
	}
}

// 2차인증 input-layout
.auth-wrap {
	text-align: center;
	padding-bottom: 26px;
	> .txt {
		@include fw-5();
		color: var(--dt-gray11);
		margin-bottom: 10px;
	}
	.tit {
		@include fw-6(24px);
		color: var(--dt-black);
		line-height: 1.4;
	}
	.customer-name {
		@include fw-6(24px);
	}
	.color-prim {
		@include fw-6(24px);
	}
	.input-control {
		padding-top: 42px;
	}
	.validation-txt {
		width: 100%;
		text-align: left;
	}
	.btn-group {
		padding-top: 38px;
		.btn {
			width: unset;
			margin: 0 auto;
		}
	}
	&:has(.badge-time) {
		.input-control {
			padding-top: 28px;
		}
	}
	&.auth_number {
		padding-bottom: 4px;
		.badge-time {
			margin-top: 28px;
		}
	}
}

