@import '../base/mixin';
.popup-wrapper {
    display: none;
	position: fixed;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	width: 100vw;
	max-width:var(--max-devicewidth);
	height: 100%;
	z-index: 9999;

	// popup-title
	&.popup__tit {
		.popup-header {
			margin-bottom: 4px;
		}
	}
	.popup__wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background-color: var(--dt-white);
	}
	// popup-common 
	.popup-header {
		@include flexBox(between, center);
		column-gap: 20px;
		margin-bottom: 4px;
		padding: 20px 8px 8px 20px;
		&:has(.popup-tit.hidden) {
			padding-top: 8px;
		}
		.popup-tit {
			@include flexBox(start, center);
			.txt {
				color: var(--dt-gray16);
				@include fw-7(20px);
				word-break: keep-all;
			}
		}
		.btn-util {
			width: 40px;
            height: 40px;
			margin-left: auto;
			padding: 8px;
			border: none;
			background-color: transparent;
			background-image: url(../../static/images/icon/close_line.png);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center center;
			&:active { 
				box-shadow: none;
			}
		}
	}
	.popup-body {
		min-height: 84px;
		max-height: 513px;
		padding: 0 20px 20px;
		overflow-y: auto;
		&.center {
			gap: 20px;
			.text-box {
				gap: 12px;
				.tit {
					font-size: 24px;
					.color-prim {
						font-size: 24px;
						font-weight: 600;
					}
				}
				.txt {
					font-size: 16px;
				}
			}
		}
	}
	.popup-footer {
		margin: 20px 0 20px;
		padding: 0 20px;
	} 
    .back-drop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dt-black);
        opacity: .6;
    }
    // show animation
    &.show {
        display: block;
        .popup__wrap {
            animation: slideInUp 0.6s;
        }
    }
}

// popbody 내 content
.popup-body {
	.authorization {
		.auth {
			text-align: center;
			.txt {
				@include fw-5();
				color: var(--dt-gray11);
				margin-bottom: 10px;
			}
			.tit {
				@include fw-6(24px);
				color: var(--dt-black);
			}
			.color-prim {
				@include fw-6(24px);
			}
		}
		.input_code {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 42px 0 26px;
			gap: 6px;
			.code-group {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 6px;
				.code-box {
					display: inline-block;
					width: 48px;
					min-height: 52px;
					padding: 12px 8px;
					border-radius: 4px;
					background: var(--dt-gray02);
					.num {
						@include fw-7(24px);
						color: var(--dt-gray16);
						&.placeholder {
							color: var(--dt-gray11);
						}
					}
				}
			}
		}
		.segment__wrap {
			display: none;
			margin-bottom: 48px;
		}
		.auth_birth {
			display: none;
		}
		.auth_business {
			display: none;
		}
		.auth_corporation {
			display: none;
		}
		&.tab {
			.segment__wrap {
				display: block;
			}
		}
		&.birth {
			.auth_birth {
				display: block;
			}
		}
		&.business {
			.auth_business {
				display: block;
			}
		}
		&.corporation {
			.auth_corporation {
				display: block;
			}
		}
	}
	
	/* 캘린더 선택시 기간 노출 영역 */
	.txt-perd-wrap { // mnth-prd
		@include flexBox(center, center);
		flex-wrap:wrap;
		column-gap:12px;   
		// max-width: 240px;
		margin: 20px auto 0;
		padding: 14px 16px; 
		background-color: var(--dt-gray02);
		border-radius: 8px;
		> span {
			color: var(--dt-gray11);
			@include fw-5(14px);
			line-height:21px;
		}
		.txt-perd {
			min-width:86;
			max-width:144px;
			text-align:center;
			.hyppen {
				display:inline-block;
				margin-right:12px;
				@include fw-6(18px);
				color: var(--dt-gray10);
			}
			.point {
				@include fw-6(14px);
				color: var(--dt-gray16);
			}
		}
	}
	.calendar-box {
		@include flexBox(center, center);
		flex-direction:column;
		min-width:220px;
		max-width:320px;
		margin: auto;
		&.year-month {padding-top:12px;}
		.nav-schedule {
			@include flexRow;
			justify-content:space-between;
			align-items:center;
			min-width:172px;
			padding-top:12px;
			padding-bottom:12px;
			button > span {font-size:0;}
			.img-box {
				width:24px;height:24px;
				background-position:center;
				background-repeat:no-repeat;
				background-size:100%;
				&.is-disabled {
					pointer-events:none;
					opacity: 30%;
				}
				&.btn-prev {
					background-image:url(../images/icon/ic-btn-arrow-right-lg.svg);
				}
				&.btn-next {
					transform:rotate(180deg);
					background-image:url(../images/icon/ic-btn-arrow-right-lg.svg);
				}
			}
			.txt-wrap {
				margin-left:36px;margin-right:36px;
				text-align: center;
				span {
					@include fw-7(20px);
					line-height:24px;
				}
			}
		}
		.schedule-cont-wrap {
			&.list-month {
				@include flexRow;
				justify-content:center;
				flex-wrap:wrap;
				margin-top:14px;
				li {
					position:relative;
					@include flexBox(center, center);
					width:72px;height:72px;
					overflow:hidden;
					.btn-month {
						position:relative;
						width:calc(100% - 12px);
						height:calc(100% - 12px);
						padding:17px 0;
						@include fw-6(16px);
						text-align:center;
						border-radius:50%;
						border:2px solid transparent;
					}
					&.current {
						.btn-month{color:var(--dt-primary);}
					}
					&.is-selected {
						&::before {
							content:'';display:block;
							position:absolute;
							top:50%;transform:translateY(-50%);left:0;
							// z-index:-1;
							width:100%;height:42px;
							background-color:rgba(227, 0, 132, 0.2);
						}
						&:has(.pointed) {
							&::before {
								width:42px;
							}
							&:nth-child(4n) {
								&::before {
									left:unset;right:0;
								}
							}
						}
						.btn-month{
							&.pointed {
								color:var(--dt-primary);
								background-color:var(--dt-white);
								border-color:var(--dt-primary);
							}
						}
					}
					&.is-disabled {
						.btn-month {
							color:var(--dt-gray09);
							pointer-events:none;
						}
					}
				}
			}
		}
	}
	// 방법 선택 팝업 
	.slctInfo-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

// @media (max-width: 359px) {
// 	.popup-body {
// 		.calendar-box {
// 			&.mnth-prd {
// 				column-gap: 20px;
// 			}
// 		}
// 	}
// }