@import '../base/mixin';
.popup-wrapper {
    display: none;
	position: fixed;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	width: 100vw;
	max-width:var(--max-devicewidth);
	height: 100%;
	z-index: 9999;
	.popup__wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: calc(var(--vh) - 45px);
		@include flexColum;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background-color: var(--dt-white);
		overflow-y: auto;
		.toast-wrap {
			bottom: 20px;
		}
		&:has(.popup-footer) {
			.toast-wrap {
				bottom: 92px;
			}
		}
	}
	// popup-common 
	.popup-header {
		@include flexBox(between, start);
		column-gap: 12px;
		padding: 20px 8px 8px 20px;
		&:has(.popup-tit.hidden) {
			padding-top: 8px;
			&:has(.btn-util.hidden) {
				min-height: 48px;
			}
		}
		.popup-tit {
			@include flexBox(start, center);
			padding: 8px 0;
			gap: 8px;
			> .txt {
				color: var(--dt-gray16);
				@include fw-7(20px);
				line-height: var(--dt-lh150);
			}
		}
		.btn-util {
			width: 40px;
            height: 40px;
			margin-left: auto;
			padding: 8px;
			border: none;
			background-color: transparent;
			background-image: url(../../static/images/icon/close_line.png);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center center;
			&:active { 
				box-shadow: none;
			}
		}
	}
	.popup-body {
		padding: 4px 20px 40px 20px;
		overflow-y: auto;
	}
	.popup-footer {
		padding: 0 20px 20px 20px;
		&.full {// 풀버튼일 경우 패딩 0
			padding: 0;
			.btn-group {
				.btn {
					border-radius: 0 !important;
				}
			}
		}
		.btn-group {
			position: relative;
			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
				height: 20px;
				background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0.00) 100%);
			}
		}
	} 
    .back-drop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dt-black);
        opacity: .6;
    }
    // show animation
    &.show {
        display: block;
        .popup__wrap {
            animation: slideInUp 0.6s;
        }
    }
}
// popup-footer hidden일 경우 popup-body 패딩 수정 (250218 | 패딩 수정 : 재변경 없을 경우 삭제 예정)
// .popup-wrapper:has(.popup-footer.hidden) .popup-body {
// 	padding-bottom: 20px;
// }

// popbody 내 content
.popup-body {
	.section__cont {
		gap: 24px;
	}
	.cont__wrap {
		padding-right:0;
		padding-left:0;
		&.cont__wrap-vertical {
			gap: 12px;
		}
	}
	.notice-wrap { // 팝업 내 테이블_불릿_문장 등 
		@include flexColum;
		row-gap:20px;
		padding-top:20px;
		.con__tit-box {
			margin-bottom:0;
			padding-bottom:8px;
			font-size:16px;line-height:24px;
			border-bottom:1px solid var(--dt-gray17);
			.ic-chaterror {
				background-image: url(../images/icon/ic-chatsquare-error.svg);
			}
		}
	}
	.tab-container { // 팝업 내 탭UI
		.tab-cont {padding-top:24px;}
	}
	
	.calendar-box {
		@include flexBox(center, center);
		flex-direction:column;
		min-width:220px;
		max-width:320px;
		margin: auto;
		&.year-month {padding-top:12px;}
		.nav-schedule {
			@include flexRow;
			justify-content:space-between;
			align-items:center;
			min-width:172px;
			padding-top:12px;
			padding-bottom:12px;
			button > span {font-size:0;}
			.img-box {
				width:32px;height:32px;
				padding: 8px;
				background-position:center;
				background-repeat:no-repeat;
				background-size:24px 24px;
				&.hidden {
					display: inline-block !important;
					pointer-events:none;
					opacity: 0;
				}
				&.btn-prev {
					background-image:url(../images/icon/ic-btn-arrow-right-lg.svg);
				}
				&.btn-next {
					transform:rotate(180deg);
					background-image:url(../images/icon/ic-btn-arrow-right-lg.svg);
				}
			}
			.txt-wrap {
				margin-left:36px;margin-right:36px;
				text-align: center;
				span {
					@include fw-7(20px);
					line-height:24px;
				}
			}
		}
		.schedule-cont-wrap {
			&.list-month {
				@include flexRow;
				justify-content:center;
				flex-wrap:wrap;
				margin-top:14px;
				li {
					position:relative;
					@include flexBox(center, center);
					width:72px;height:72px;
					overflow:hidden;
					.btn-month {
						position:relative;
						width:calc(100% - 12px);
						height:calc(100% - 12px);
						padding:17px 0;
						@include fw-6(16px);
						text-align:center;
						border-radius:50%;
						border:2px solid transparent;
						transition: border 0.2s ease, color 0.18s ease-in;
						&.current {
							color:var(--dt-primary);
						}
						&.is-selected{
							color:var(--dt-primary);
							background-color:var(--dt-white);
							border-color:var(--dt-primary);
						}
						&.is-disabled {
							color:var(--dt-gray09);
							pointer-events:none;
						}
					}
					// &.is-selected {
					// 	&::before {
					// 		content:'';display:block;
					// 		position:absolute;
					// 		top:50%;transform:translateY(-50%);
					// 	 left:0;
					// 		// z-index:-1;
					// 		width:100%;height:42px;
					// 		background-color:rgba(227, 0, 132, 0.2);
					// 	}
					// 	&:has(.pointed) {
					// 		&::before {
					// 			width:42px;
					// 		}
					// 		&:nth-child(4n) {
					// 			&::before {
					// 				left:unset;right:0;
					// 			}
					// 		}
					// 	}
					// }
				}
			}
		}
	}
	// 방법 선택 팝업 
	.slctInfo-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.btn {
		/* popup-solid */
		&.btn-popSolid-md { 
			padding: 12px 20px;
		}
		&.btn-popSolid {
			padding:16px 20px;
			background-color: var(--dt-gray02);
			gap: 4px;
			.txt {
				color:var(--dt-gray12);
				line-height: var(--dt-lh150);
			}
			
			&.between {
				justify-content: space-between;
				gap: 12px;
				.txt {
					text-align: left;
					line-height: 1.2;
				}
				.txt-wrap {				
					display: flex;
					align-items: center;
					.txt {
						@include fw-5(14px);
						line-height: 1.2;
						color: var(--dt-primary);
						text-align: right;
					} 
					.img-box {
						display: inline-block;
						img {
							width: 16px;
							height: 16px;
						}
					}
				}				
			}
			.delay-txt {
				@include fw-5(14px);
				color: var(--dt-gray11);
			}
		}

		// 자녀선택 버튼
		&.btn-child {
			display: flex;
			justify-content: space-between;
			padding:16px;
			background-color: var(--dt-gray02);
			.txt-wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 6px;
			}
			.tit {
				@include fw-7(16px);
				color:var(--dt-black);
				text-align: left;
				line-height: var(--dt-lh150);
			}
			.txt {
				@include fw-5(14px);
				text-align: left;
				line-height: var(--dt-lh150);
			}
		}
	}
}

//popup-body 패딩 수정
.popup-body + .popup-footer.hidden {
	padding-bottom: 20px;
}

// @media (max-width: 359px) {
// 	.popup-body {
// 		.calendar-box {
// 			&.mnth-prd {
// 				column-gap: 20px;
// 			}
// 		}
// 	}
// }

// 풀 팝업
.full-popup {
	.popup__wrap {
		height: 100%;
		max-height: unset;
		border-top-left-radius: unset;
		border-top-right-radius: unset;
	}
	.popup-header {
		@include flexBox(between, center);
		flex-wrap: wrap;
		width: 100%;
		max-width:var(--max-devicewidth) !important;
		min-height: 56px;
		padding: 2px 20px 2px 12px;
		z-index: 2;
		.header__util {
			@include flexBox(start, center);
			.btn-util {
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-size: 24px 24px;
				background-position: center center;
				padding: 4px;
				font-size:0px;
				text-indent: -9999px;
				&.prev {
					background-image: url(../images/icon/chevron_prev_line.png);
				}
				&.end {
					background-image: url(../images/icon/ic-close24-gray15.svg);
				}
			}
			.header-tit {
				@include fw-7(16px);
				color: var(--dt-gray16);
				margin-left: 4px;
				.header-txt {
					@include fw-7(16px);
					color: var(--dt-gray10);
				}
			}
		}
		.header__btn {
			@include flexBox(end, center);
			column-gap:6px;
			margin-left: auto;
			.btn {
				display: flex;
				border-radius: 4px;
				padding: 9px 12px 8px;
				gap: 2px;
				min-width:max-content;
				.txt {@include fw-6(14px);}
			}
			.btn-callEnd { // 종료버튼
				background-color: var(--dt-primary);
				border-color:var(--dt-primary);
				.icon {
					display: inline-block;
					content: "";
					width: 16px;
					min-width: 16px;
					height: 16px;
					background-image: url(../images/icon/call_end.svg);
					background-repeat: no-repeat;
					background-size: 16px 16px;
				}
				.txt {
					color: var(--dt-white);
				}
			}
		}
	}
	.popup-body {
		height: 100%;
		padding: 0 0 42px 0;
		.section__cont {
			gap: 48px;
			.cont__wrap {
				padding: 0 20px;
			}
		}
	}
}