@import '../base/mixin';
/* 
  popper.js 사용
*/

/* tooltip 기본 */
.tooltip img {
	width: 18px;
	height: 18px;
}

#tooltip {
    visibility:hidden;
    pointer-events:none;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}
#tooltip[data-show] {
    visibility:visible;
    pointer-events:auto;
}
#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
    visibility:hidden;
    pointer-events:none;
}

#arrow {
}

#arrow::before {
    content: '';
    transform: rotate(45deg);
}
#tooltip[data-show] #arrow,
#tooltip[data-show] #arrow::before {pointer-events:auto;visibility:visible;}
#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}