<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Accordion</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
            </div>
            <div class="header__btn btn-group">
                
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	
		<!-- container -->
		<div class="container">

            <!-- 아코디언 영역 -->
            <div class="section__cont detail" style="padding-top:86px;">
                <div class="cont__wrap">
                    <div class="accordion-container open">
                        
                    </div>
                    <div class="chck-group">
						<input type="checkbox" id="chck01" class="chck-input">
						<label for="chck01" class="chck-label">
							<span class="chck-box"></span>
							라벨명1
						</label>
					</div>
                </div>
                <!-- 발행된 청구서가 있을 경우 -->
                <div class="cont__wrap">
                    <div class="info-price-wrap">
                        <!-- open 클래스로 show/hide 조정 -->
                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">A</span>
                                    </div>
                                    <span>휴대폰 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>60,000원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                월정액
                                            </span>
                                            <span class="txt-price">105,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                할인요금
                                            </span>
                                            <span class="txt-price">-45,000원</span>
                                        </div>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">
                                                    태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                </span>
                                                <span class="txt-price">-22,000원</span>
                                            </li>
                                            <li class="row">
                                                <span class="txt-title">선택약정 25% 할인</span>
                                                <span class="txt-price">-18,000원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">B</span>
                                    </div>
                                    <span>부가서비스 및 구독 혜택 사용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>10,000원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                맘대로 폰교체 / 맘대로 폰교체 플러스
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header">
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">C</span>
                                    </div>
                                    <span>기기 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>999,999원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content">
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                항목1111
                                            </span>
                                            <span class="txt-price">2,450,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                항목1-1111
                                            </span>
                                            <span class="txt-price">-999,000원</span>
                                        </div>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
                                                <span class="txt-price">-9,990원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col info-price total-last">
                            <div class="badge badge-round">
                                <span class="txt">A+B+C</span>
                            </div>
                            <span class="row">
                                <span class="txt-title">총 청구요금</span>
                                <span class="txt-price">
                                    60,000원
                                </span>
                            </span>
                            <span class="txt-sub">(부가세 포함)</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>