<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Accordion</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script>
        window.onload = function(){
            console.log('hi');
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <!-- <h1 class="logo"></h1> -->
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
                <!-- <span class="header-tit"><span class="header-txt">눈으로 보는 ARS</span></span> -->
            </div>
            <div class="header__btn btn-group">
                <button type="button" class="btn line btn-md"><span class="txt">상담사</span></button>
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	
		<!-- container -->
		<div class="container">

		</div>
		<!-- //container -->
	</div>
</body>
</html>