<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공통 컴포넌트</title>
    <style>
        .prototype-title {font-size:22px;font-weight:bold;padding:24px 20px 10px;}
        .prototype-component-wrap {padding:0 20px 20px;}
        .prototype-component-wrap .section__cont:first-child {padding-top:0;}
        .prototype-component-wrap .desc-prototype {margin-bottom:10px;color:#4B506A;font-size:14px;}
        .prototype-component-wrap .chips-wrap {display: flex;flex-direction: column;row-gap:16px;}
        .prototype-component-wrap .chips-wrap .chips, .prototype-component-wrap .chips-wrap .badge {width:fit-content}
        .prototype-component-wrap > .header {position:relative;}
	</style>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
        <div class="lg-prototype">
            <div class="lg-component-container">
                <div class="lg-component">
                    <div class="prototype-title">헤더</div>
                    <div class="prototype-component-wrap">
                        <!-- header -->
                        <header class="header">
                            <div class="header__util">
                                <!-- 
                                    이전 prev / 닫기 end / 없을 경우 hidden 처리
                                    <button type="button" class="btn btn-util end hidden"><span>닫기</span></button>
                                -->
                                <button type="button" class="btn btn-util prev hidden"><span>이전</span></button>
                                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
                                <span class="header-tit"><span class="header-txt">눈으로 보는 ARS</span></span>
                            </div>
                            <div class="header__btn">
                                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
                            </div>
                        </header>
                        <!-- //header -->

                        <!-- header -->
                        <header class="header">
                            <div class="header__util">
                                <button type="button" class="btn btn-util prev"><span>이전</span></button>
                                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
                                <span class="header-tit">페이지 타이틀<span class="header-txt"></span></span>
                            </div>
                            <div class="header__btn">
                                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
                            </div>
                        </header>
                        <!-- //header -->

                        <!-- header -->
                        <header class="header">
                            <div class="header__util">
                                <button type="button" class="btn btn-util prev"><span>이전</span></button>
                                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
                                <span class="header-tit">눈으로 보는 ARS<span class="header-txt">로 돌아가기</span></span>
                            </div>
                            <div class="header__btn hidden">
                                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
                            </div>
                        </header>
                        <!-- //header -->

                        <!-- header -->
                        <header class="header">
                            <div class="header__util">
                                <button type="button" class="btn btn-util prev"><span>이전</span></button>
                                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
                                <span class="header-tit"><span class="header-txt"></span></span>
                            </div>
                            <div class="header__btn">
                                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
                            </div>
                        </header>
                        <!-- //header -->
                    </div>
                </div>

                <div class="lg-component">
                    <div class="prototype-title">박스 타이틀(레이블)</div>
                    <div class="prototype-component-wrap">
                        <p class="desc-prototype">[default]</p>
                        <div class="con__tit-box">
                            <h6 class="tit-head">
                                <span class="txt-title">타이틀타이틀</span>
                            </h6>
                        </div>
                        <p class="desc-prototype">[tit-head에 ico 있는 경우]</p>
                        <div class="con__tit-box">
                            <h6 class="tit-head">
                                <span class="ico"></span>
                                <span class="txt-title">많이 찾는 문의</span>
                            </h6>
                        </div>
                        <p class="desc-prototype">[tit-tail 있는 경우]</p>
                        <div class="con__tit-box">
                            <h6 class="tit-head">
                                <span class="txt-title">박스타이틀영역</span>
                            </h6>
                            <div class="tit-tail">
                                <div class="flag flag-line primary">
                                    <span class="txt">배지 버튼 등</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="prototype-title">테이블 레이아웃</div>
                    <div class="prototype-component-wrap">
                        <p class="desc-prototype">[default]</p>
                        <!-- Default :: table > thead or tbody 내에서 tr 생성(클래스 지정 x)
                            Page 별로 필요 시 자유롭게 클래스 생성 
                        -->
                        <table class="">
                            <thead>
                                <tr>
                                    <th scope="col">구분</th>
                                    <th scope="col">상담 가능 시간</th>
                                    <th scope="col">상담 가능 업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>평일</td>
                                    <td>오전 9시 ~ 오후 6시</td>
                                    <td>모든 상담 가능</td>
                                </tr>
                                <tr>
                                    <td>평일 야간</td>
                                    <td>오전 9시 ~ 오후 10시</td>
                                    <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>토요일 주간</td>
                                    <td>오전 6시 ~ 오후 10시</td>
                                    <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>토요일 야간, 일요일, 공휴일</td>
                                    <td>오후 6시 ~ 오후 10시</td>
                                    <td>분실, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>심야</td>
                                    <td>오후 10시 ~ 다음날 오전 9시</td>
                                    <td>위와 동일</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="desc-prototype">[colspan & rowspan 존재 및 tbody에 th 포함되는 케이스]</p>
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" rowspan="2">결제 등급</th>
                                    <th scope="col" colspan="2">최대 가능한도</th>
                                </tr>
                                <tr>
                                    <th scope="col">신규</th>
                                    <th scope="col">기존</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">VVIP</th>
                                    <td rowspan="2">25만원/월</td>
                                    <td>100만원/월</td>
                                </tr>
                                <tr>
                                    <th scope="row">VIP</th>
                                    <td>60만원/월</td>
                                </tr>
                                <tr>
                                    <th scope="row">일반</th>
                                    <td rowspan="2">10만원/월</td>
                                    <td>25만원/월</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="desc-prototype">[column 2개인 경우_임의]</p>
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">구분</th>
                                    <th scope="col">상담 가능 업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>평일</td>
                                    <td>모든 상담 가능</td>
                                </tr>
                                <tr>
                                    <td>평일 야간</td>
                                    <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>토요일 주간</td>
                                    <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>토요일 야간, 일요일, 공휴일</td>
                                    <td>분실, 해외로밍, 일시정지 해제</td>
                                </tr>
                                <tr>
                                    <td>심야</td>
                                    <td>위와 동일</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="prototype-title">아코디언</div>
                    <div class="prototype-component-wrap">
                        <div class="info-price-wrap">
                            <div class="list-info-price accordion-container">
                                <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                    <span class="row txt-title">
                                        <div class="badge badge-round">
                                            <span class="txt">A</span>
                                        </div>
                                        <span>휴대폰 이용요금</span>
                                    </span>
                                    <span class="row txt-price">
                                        <span>60,000원</span>
                                        <span class="img-box ico-toggle">
                                            <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                        </span>
                                    </span>
                                </button>
                                <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                    <ul class="info-price-detail">
                                        <li class="info-wrap">
                                            <!-- default -->
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    월정액
                                                </span>
                                                <span class="txt-price">105,000원</span>
                                            </span>
                                        </li>
                                        <li class="info-wrap">
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    할인요금
                                                </span>
                                                <span class="txt-price">-45,000원</span>
                                            </span>
                                            <ul class="col list-detail">
                                                <li class="row">
                                                    <span class="txt-title">선택약정 25% 할인</span>
                                                    <span class="txt-price">-18,000원</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="info-price-wrap" style="margin-top:30px;">
                            <div class="list-info-price accordion-container">
                                <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                    <span class="row txt-title">
                                        <div class="badge badge-round">
                                            <span class="txt">A</span>
                                        </div>
                                        <span>휴대폰 이용요금</span>
                                    </span>
                                    <span class="row txt-price">
                                        <span>60,000원</span>
                                        <span class="img-box ico-toggle">
                                            <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                        </span>
                                    </span>
                                </button>
                                <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                    <ul class="info-price-detail">
                                        <li class="info-wrap">
                                            <!-- default -->
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    월정액
                                                </span>
                                                <span class="txt-price">105,000원</span>
                                            </span>
                                        </li>
                                        <li class="info-wrap">
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    할인요금
                                                </span>
                                                <span class="txt-price">-45,000원</span>
                                            </span>
                                            <ul class="col list-detail">
                                                <li class="row">
                                                    <span class="txt-title">
                                                        태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                        <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                        <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    </span>
                                                    <span class="txt-price">-22,000원</span>
                                                </li>
                                                <li class="row">
                                                    <span class="txt-title">선택약정 25% 할인</span>
                                                    <span class="txt-price">-18,000원</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="list-info-price accordion-container">
                                <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                    <span class="row txt-title">
                                        <div class="badge badge-round">
                                            <span class="txt">B</span>
                                        </div>
                                        <span>부가서비스 및 구독 혜택 사용요금</span>
                                    </span>
                                    <span class="row txt-price">
                                        <span>10,000원</span>
                                        <span class="img-box ico-toggle">
                                            <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                        </span>
                                    </span>
                                </button>
                                <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                    <ul class="info-price-detail">
                                        <li class="info-wrap">
                                            <!-- default -->
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
                                                    바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
                                                </span>
                                                <span class="txt-price">5,000원</span>
                                            </span>
                                        </li>
                                        <li class="info-wrap">
                                            <div class="row">
                                                <span class="txt-title ico">
                                                    맘대로 폰교체 / 맘대로 폰교체 플러스
                                                </span>
                                                <span class="txt-price">5,000원</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="list-info-price accordion-container">
                                <button class="info-price accordion-header">
                                    <span class="row txt-title">
                                        <div class="badge badge-round">
                                            <span class="txt">C</span>
                                        </div>
                                        <span>기기 이용요금</span>
                                    </span>
                                    <span class="row txt-price">
                                        <span>999,999원</span>
                                        <span class="img-box ico-toggle">
                                            <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                        </span>
                                    </span>
                                </button>
                                <div class="accordion-content">
                                    <ul class="info-price-detail">
                                        <li class="info-wrap">
                                            <!-- default -->
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    항목1111
                                                </span>
                                                <span class="txt-price">2,450,000원</span>
                                            </span>
                                        </li>
                                        <li class="info-wrap">
                                            <span class="row">
                                                <span class="txt-title ico">
                                                    항목1-1111
                                                </span>
                                                <span class="txt-price">-999,000원</span>
                                            </span>
                                            <ul class="col list-detail">
                                                <li class="row">
                                                    <span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
                                                    <span class="txt-price">-9,990원</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="col info-price total-last">
                                <div class="badge badge-round">
                                    <span class="txt">A+B+C</span>
                                </div>
                                <span class="row">
                                    <span class="txt-title">총 청구요금</span>
                                    <span class="txt-price">
                                        60,000원
                                    </span>
                                </span>
                                <span class="txt-sub">(부가세 포함)</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="prototype-title">하단 counsel</div>
                    <div class="prototype-component-wrap">
                        <div class="container">
                            <div class="section__cont counsel">
                                <div class="cont__wrap">
                                    <div class="con__tit-box">
                                        <h6 class="tit-head">
                                            <span class="txt-title">아래 메뉴도 추천해요</span>
                                        </h6>
                                    </div>
                                    <div class="card-group">
                                        <div class="card solid" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-home-billing.png" alt="청구요금">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <span class="tit">청구 요금</span>
                                                    <span class="txt">이번달과 지난달<br>요금 조회</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card solid" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <h3 class="tit">요금 바로납부</h3>
                                                    <p class="txt">청구요금 미리납부</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card solid" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-home-billing.png" alt="청구요금">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <h3 class="tit">요금 바로납부</h3>
                                                    <p class="txt">청구요금 미리납부</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="cont__wrap cont__wrap-counsel">
                                    <div class="con__tit-box">
                                        <span class="txt-sub">문의사항을 찾기 어려우신가요</span>
                                        <h6 class="tit-head">
                                            <span class="txt-title">상담사와 이야기 해보세요</span>
                                        </h6>
                                        <div class="tit-tail hidden"></div>
                                    </div>
                                    <div class="card-group threeby">
                                        <div class="card sub detail" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-card-chatbot.png" alt="챗봇상담">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <span class="tit">챗봇 상담</span>
                                                    <span class="txt">대기없이 바로</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card sub detail" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-card-ars-ai.png" alt="AI상담">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <span class="tit">AI 상담사</span>
                                                    <span class="txt">언제든지 빠른</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card sub detail" role="button" tabindex="0">
                                            <div class="card-body">
                                                <div class="card__util">
                                                    <span class="img-box">
                                                        <img src="../../static/images/icon/ic-card-calls.png" alt="챗봇상담">
                                                    </span>
                                                </div>
                                                <div class="card__text">
                                                    <span class="tit">전화 상담</span>
                                                    <span class="txt">상세하고 친절한</span>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="chips chips-tag hidden">
                                                    <span class="txt">점심시간</span>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                
                                    <div class="btn-group conversion">
                                        <button class="btn" type="button">
                                            <span class="txt">음성 ARS로 전환</span>
                                        </button>
                                        <span class="divider"></span>
                                        <button class="btn" type="button">
                                            <span class="txt">홈 고객센터 문의</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>