<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">

    <!-- 메인에만 필요 -->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/main.css"> -->

	<!-- Scripts -->
</head>
<style>
    .page-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .header {
        position: unset;
        transform: unset;
    }
</style>
<body>
	<!-- 개발관련 주석 확인 후 필요 없으시면  삭제 -->
	<!-- 
		스크롤 감지시 is-scrolled 
		<div class="page-wrapper">
	-->
	<div class="page-wrapper">
		<!-- header -->
		<header class="header">
			<div class="header__util">
                <!-- 
                    이전 prev / 닫기 end / 없을 경우 hidden 처리
                    <button type="button" class="btn btn-util end hidden"><span>닫기</span></button>
                -->
				<button type="button" class="btn btn-util prev hidden"><span>이전</span></button>
                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
				<span class="header-tit"><span class="header-txt">눈으로 보는 ARS</span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
				<span class="header-tit">페이지 타이틀<span class="header-txt"></span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
				<span class="header-tit">눈으로 보는 ARS<span class="header-txt">로 돌아가기</span></span>
			</div>
			<div class="header__btn hidden">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
                <!-- <button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
				<span class="header-tit"><span class="header-txt"></span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->
        

		<div class="container">
			<div class="section__cont">
				<div class="cont__wrap">
				</div>
			</div>
		</div>
	</div>
</body>
</html>