<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회페이지 케이스</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/search.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
            </div>
            <div class="header__btn btn-group">
                
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	 
		<!-- container -->
		<div class="container">
            <!-- 홀맨 배너 영역// -->
            <div class="section__cont summary"><!-- 청구요금조회 -->
                <div class="cont__wrap cont__wrap-bill">
                    <div class="select-billdate">
                        <span class="txt-due">2월 1일 ~ 2월 28일</span>
                        <span class="txt-select-wrap">
                            <button type="button" class="chips chips-date">
                                <span class="txt">24년 03월</span>
                                <span class="arrow"></span>
                            </button>
                            청구요금은
                        </span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">89,000</span>
                            <span class="color-prim">원</span>이에요
						</h4>
					</div>
				</div>
                <!-- 증가 케이스 : txt-info -->
                <div class="info-price-single">
                    <span class="txt-info">
                        지난 달보다
                        <span>
                            <span class="txt-price">38,000원</span>늘었어요
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-arrowUp-circle-prime.svg" alt="">
                            </span>
                        </span>
                    </span>
                </div>
                <!-- 감소 케이스 : txt-info.decrease -->
                <div class="info-price-single">
                    <span class="txt-info decrease">
                        지난 달보다
                        <span>
                            <span class="txt-price">5,000원</span>줄었어요
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-arrowUp-circle-prime.svg" alt="">
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="section__cont summary"><!-- 청구 예정 상태 -->
                <div class="cont__wrap cont__wrap-bill">
                    <div class="select-billdate">
                        <span class="txt-due">2월 1일 ~ 2월 28일</span>
                        <span class="txt-select-wrap">
                            <button type="button" class="chips chips-date">
                                <span class="txt">24년 03월</span>
                                <span class="arrow"></span>
                            </button>
                            청구요금은
                        </span>
                    </div>
					<div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">청구 예정</span>이에요
						</h4>
					</div>
				</div>
            </div>
            <div class="section__cont summary"><!-- 청구요금서 발행 전 -->
                <div class="cont__wrap cont__wrap-bill">
					<div class="cont__txt-box">
						<h4 class="txt">아직 청구서가<br />발행되지 않았어요</h4>
					</div>
				</div>
            </div>

            <div class="section__cont summary"><!-- 실시간요금조회 -->
                <div class="cont__wrap cont__wrap-realtime">
                    <div class="select-billdate">
                        <span class="txt-due">7월 1일부터 ~ 오늘까지</span>
                        <span class="txt-notice">이번 달 실시간 요금은</span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">32,000</span>
                            <span class="color-prim">원</span>이에요
						</h4>
					</div>
				</div>
            </div>
            <div class="section__cont summary"><!-- 입금전용계좌로납부 -->
                <div class="cont__wrap cont__wrap-account">
                    <div class="select-billdate">
                        <span class="txt-notice">입금전용 계좌로</span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">60,320</span>
                            <span class="color-prim">원</span>&nbsp;납부 가능해요
						</h4>
					</div>
				</div>
            </div>
            <div class="section__cont summary"><!-- 사용현황 - 실시간 사용량 -->
                <div class="cont__wrap cont__wrap-usestate">
                    <div class="select-billdate">
                        <span class="txt-due">남은 기간 7일</span>
                        <span class="txt-notice">이번 달 남은 데이터는</span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">5.51</span>
                            <span class="color-prim">GB</span>이에요
						</h4>
					</div>
				</div>
            </div>

            <div class="section__cont summary"><!-- 청구요금조회 -->
                <div class="cont__wrap cont__wrap-bill">
                    <div class="select-billdate">
                        <span class="txt-select-wrap">
                            <button type="button" class="chips chips-date">
                                <span class="txt">24년 03월</span>
                                <span class="arrow"></span>
                            </button>
                        </span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            일반/정기 결제금액은 <br />
                            <span class="deco">30,000</span>
                            <span class="color-prim">원</span>
						</h4>
					</div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            스토어/콘텐츠 결제금액은 <br />
                            <span class="deco">30,000</span>
                            <span class="color-prim">원</span>
						</h4>
					</div>
				</div>
            </div>

            <div class="section__cont summary">
                <div class="cont__wrap cont__wrap-payment">
                    <div class="select-billdate">
                        <span class="txt-notice">현재 요금 납부방법은</span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">은행 자동이체</span>예요
						</h4>
					</div>
				</div>
            </div>
            <!-- //홀맨 배너 영역 -->

            <!-- 아코디언 영역 -->
            <div class="section__cont desc">
                <div class="cont__wrap cont__wrap-vertical">
                    <div class="list-payment">
                        <div class="info-col-wrap">
                            <span class="row total">
                                <span class="txt-title">총 청구요금</span>
                                <span class="txt-price">
                                    60,000원
                                </span>
                            </span>
                        </div>
                        <div class="info-col-wrap">
                            <span class="row">
                                <span class="txt-title">총 청구요금</span>
                                <span class="txt-price">
                                    60,000원
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">입금전용 계좌</span>
                        </h6>
                    </div>
                    <div class="card solid bank">
                        <div class="card-header">
                            <div class="item util">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-card-bank-ibk.png" alt="ibk은행">
                                </span>
                            </div>
                            <div class="item text">
                                <span class="tit">은행 계좌번호</span>
                                <span class="txt">김유플</span>
                            </div>
                            <button type="button" class="btn end">종료</button>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group flex-row">
                                <button class="btn btn-md" type="button">
                                    <span class="txt">문자로 전송</span>
                                </button>
                                <button class="btn btn-md" type="button">
                                    <span class="txt">복사</span>
                                </button>
                            </div>
                        </div> 
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sec">
                            <span class="txt">입금전용 계좌 추가</span>
                        </button>
                    </div>
                </div>
                <!-- 발행된 청구서가 있을 경우 -->
                <div class="cont__wrap cont__wrap-vertical">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">요금 상세</span>
                        </h6>
                        <div class="tit-tail">
                            <button type="button" class="chips chips-all is-selected">
                                <span class="txt">전체접힘</span>
                                <span class="arrow"></span>
                            </button>
                        </div>
                    </div>
                    <div class="info-price-wrap">
                        <!-- open 클래스로 show/hide 조정 -->
                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">A</span>
                                    </div>
                                    <span>휴대폰 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>60,000원</span>
                                    <span class="img-box ico-toggle">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <span class="row">
                                            <span class="txt-title ico">
                                                월정액
                                            </span>
                                            <span class="txt-price">105,000원</span>
                                        </span>
                                    </li>
                                    <li class="info-wrap">
                                        <span class="row">
                                            <span class="txt-title ico">
                                                할인요금
                                            </span>
                                            <span class="txt-price">-45,000원</span>
                                        </span>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">
                                                    태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                </span>
                                                <span class="txt-price">-22,000원</span>
                                            </li>
                                            <li class="row">
                                                <span class="txt-title">선택약정 25% 할인</span>
                                                <span class="txt-price">-18,000원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">B</span>
                                    </div>
                                    <span>부가서비스 및 구독 혜택 사용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>10,000원</span>
                                    <span class="img-box ico-toggle">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <span class="row">
                                            <span class="txt-title ico">
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </span>
                                    </li>
                                    <li class="info-wrap">
                                        <span class="row">
                                            <span class="txt-title ico">
                                                맘대로 폰교체 / 맘대로 폰교체 플러스
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container">
                            <button class="info-price accordion-header">
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">C</span>
                                    </div>
                                    <span>기기 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>999,999원</span>
                                    <span class="img-box ico-toggle">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content">
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <span class="row">
                                            <span class="txt-title ico">
                                                항목1111
                                            </span>
                                            <span class="txt-price">2,450,000원</span>
                                        </span>
                                    </li>
                                    <li class="info-wrap">
                                        <span class="row">
                                            <span class="txt-title ico">
                                                항목1-1111
                                            </span>
                                            <span class="txt-price">-999,000원</span>
                                        </span>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
                                                <span class="txt-price">-9,990원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col info-price total-last">
                            <div class="badge badge-round">
                                <span class="txt">A+B+C</span>
                            </div>
                            <span class="row">
                                <span class="txt-title">총 청구요금</span>
                                <span class="txt-price">
                                    60,000원
                                </span>
                            </span>
                            <span class="txt-sub">(부가세 포함)</span>
                        </div>
                    </div>
                    <div class="info-col-wrap">
                        <div class="row">
                            <span class="txt-title">이용 중인 요금제</span>
                            <span class="txt-desc">5G 프리미어 에센셜</span>
                        </div>
                    </div>
                </div>

                <!-- 발행된 청구서가 없을 경우 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">[청구서 미발행 케이스]_요금 상세</span>
                        </h6>
                    </div>
                    <div class="card solid center">
                        <div class="card-body">
                            <div class="item util">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-card-roaming_x.png" alt="">
                                </span>
                            </div>
                            <div class="item text">
                                <span class="txt">아직 발행된 청구서가 없어요</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cont__wrap cont__wrap-vertical">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">납부 상세</span>
                        </h6>
                        <div class="tit-tail btn-group">
                            <button type="button" class="btn btn-sec btn-md">
                                <span class="txt">변경</span>
                            </button>
                        </div>
                    </div>
                    <div class="info-col-wrap">
                        <div class="row">
                            <span class="txt-title">납부방법</span>
                            <span class="txt-desc">
                                은행자동이체
                            </span>
                        </div>
                        <div class="row">
                            <span class="txt-title">납부 예정일</span>
                            <span class="txt-desc">
                                <span class="flag flag-line primary">
                                    <span class="txt">이용예정</span>
                                </span>
                                N월 NN일
                            </span>
                        </div>
                    </div>
                    <div class="bullet-wrap caution">
                        <h5 class="bullet-caption">
                            유의사항
                        </h5>
                        <ul class="bullet-list">
                            <li class="bullet-item">
                                청구서는 2024년 3월 4일 기준으로 작성되었습니다.
                            </li>
                            <li class="bullet-item">
                                납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section__cont desc">
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">실시간 요금 상세</span>
                        </h6> 
                    </div>
                    <div class="info-price-wrap">
                        <!-- open 클래스로 show/hide 조정 -->
                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">A</span>
                                    </div>
                                    <span>휴대폰 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>60,000원</span>
                                    <span class="img-box ico-toggle">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <span class="row">
                                            <span class="txt-title ico">
                                                월정액
                                            </span>
                                            <span class="txt-price">105,000원</span>
                                        </span>
                                    </li>
                                    <li class="info-wrap">
                                        <span class="row">
                                            <span class="txt-title ico">
                                                할인요금
                                            </span>
                                            <span class="txt-price">-45,000원</span>
                                        </span>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">선택약정 25% 할인</span>
                                                <span class="txt-price">-18,000원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 무제한 요금제 -->
                <div class="cont__wrap cont__wrap-vertical">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">[무제한 케이스]_실시간 데이터 상세</span>
                        </h6> 
                    </div>
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap">
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">12GB</span>
                                    <span class="total">/ 무제한</span>
                                </div>
                                <div class="progress-area realtime">
                                    <span class="progress-bg">
                                        <!-- style.width %로 조절 -->
                                        <span class="progress-bar" style="width:100%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sec">
                            <span class="txt">실시간 사용량 보기</span>
                        </button>
                    </div>
                    <div class="bullet-wrap caution">
                        <h5 class="bullet-caption">
                            유의사항
                        </h5>
                        <ul class="bullet-list">
                            <li class="bullet-item">
                                청구서는 2024년 3월 4일 기준으로 작성되었습니다.
                            </li>
                            <li class="bullet-item">
                                납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 속도제한 요금제 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">[속도제한 케이스]_실시간 데이터 상세</span>
                        </h6> 
                    </div>
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap">
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">8.49GB</span>
                                    <span class="total">/ 14GB</span>
                                </div>
                                <div class="progress-area realtime">
                                    <span class="progress-bg">
                                        <!-- style.width %로 조절 -->
                                        <span class="progress-bar" style="width:37%;"></span>
                                    </span>
                                </div>
                                <p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 종량형 요금제 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">[종량형 케이스]_실시간 데이터 상세</span>
                        </h6> 
                    </div>
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap">
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">8.49GB</span>
                                    <span class="total">/ 14GB</span>
                                </div>
                                <div class="progress-area realtime">
                                    <span class="progress-bg">
                                        <!-- style.width %로 조절 -->
                                        <span class="progress-bar" style="width:37%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 쓰는만큼내는 요금제 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">[쓰는만큼내는 케이스]_실시간 데이터 상세</span>
                        </h6> 
                    </div>
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap">
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">10GB</span>
                                    <span class="total">/ 1MB당 286.72원</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 실시간 사용량 -->
                <div class="cont__wrap cont__wrap-vertical">
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap"> 
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">12GB</span>
                                    <span class="total">/ 무제한</span>
                                </div>
                                <div class="progress-area realtime">
                                    <span class="progress-bg">
                                        <!-- style.width %로 조절 -->
                                        <span class="progress-bar" style="width:100%;"></span>
                                    </span>
                                </div>
                                <p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
                            </div>
                            <div class="col accordion-container open">
                                <div class="list-plan accordion-content">
                                    <div class="row">
                                        <span class="txt-title">
                                            참 쉬운 가족 데이터
                                            <span class="img-box tooltip">
                                                <img src="../../static/images/icon/ic-circle-quesition.svg" alt="">
                                            </span>
                                        </span>
                                        <span class="txt-desc">
                                            <span class="current">0GB</span>
                                            <span class="total">/ 50GB</span>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="txt-title">
                                            자회선 월 기본제공 데이터
                                            <span class="img-box tooltip">
                                                <img src="../../static/images/icon/ic-circle-quesition.svg" alt="">
                                            </span>
                                            <span class="txt-phone">(010-75**-64**)</span>
                                        </span>
                                        <span class="txt-desc">
                                            <span class="current">250MB</span>
                                            <span class="total">/ 500MB</span>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn-toggle accordion-header">
                                    <span class="txt">자세히 보기</span>
                                    <span class="img-box ico-toggle">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-col-wrap">
                    <div class="row title-wrap">
                        <span class="txt-title ico">
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-circle-sharing.svg" alt="">
                            </span>
                            쉐어링
                        </span>
                    </div>
                    <div class="plan-wrap">
                        <div class="col">
                            <div class="txt-plan">
                                <span class="current">8GB</span>
                                <span class="total">/ 50GB</span>
                            </div>
                            <div class="progress-area realtime">
                                <span class="progress-bg">
                                    <!-- style.width %로 조절 -->
                                    <span class="progress-bar" style="width:40%;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-col-wrap">
                    <div class="row title-wrap">
                        <span class="txt-title ico">
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-circle-tethering.svg" alt="">
                            </span>
                            테더링
                        </span>
                    </div>
                    <div class="plan-wrap">
                        <div class="col">
                            <div class="txt-plan">
                                <span class="current">8GB</span>
                                <span class="total">/ 50GB</span>
                            </div>
                            <div class="progress-area realtime">
                                <span class="progress-bg">
                                    <!-- style.width %로 조절 -->
                                    <span class="progress-bar" style="width:40%;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-col-wrap">
                    <div class="plan-wrap">
                        <div class="list-plan">
                            <div class="row">
                                <span class="txt-title ico">
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-circle-call.svg" alt="">
                                    </span>
                                    이통3사&유무선
                                </span>
                                <span class="txt-desc">
                                    <span class="current">54분 56초</span>
                                    <span class="total">/ 무제한</span>
                                </span>
                            </div>
                            <div class="row">
                                <span class="txt-title ico">
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-circle-video.svg" alt="">
                                    </span>
                                    영상&부가
                                </span>
                                <span class="txt-desc">
                                    <span class="current">40분</span>
                                    <span class="total">/ 300분</span>
                                </span>
                            </div>
                            <div class="row">
                                <span class="txt-title ico">
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-circle-message.svg" alt="">
                                    </span>
                                    문자
                                </span>
                                <span class="txt-desc">
                                    <span class="current">11건</span>
                                    <span class="total">/ 무제한</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 해외로밍 실시간 조회 : 이용 전 -->
            <div class="cont__wrap cont__wrap-vertical">
                <div class="con__tit-box">
                    <h6 class="tit-head">
                        <span class="txt-title">[해외로밍 실시간조회]_이용 전</span>
                    </h6> 
                </div>

                <div class="info-col-wrap">
                    <div class="row title-wrap">
                        <span class="txt-title ico">
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-circle-call.svg" alt="">
                            </span>
                            음성통화
                        </span>
                    </div>
                    <div class="plan-wrap line">
                        <div class="list-plan">
                            <div class="row">
                                <span class="txt-title">현지발신</span>
                                <span class="txt-desc">
                                    <span class="current">-초</span>
                                    <span class="total">/ 무제한</span>
                                </span>
                            </div>
                            <div class="row">
                                <span class="txt-title">국제발신</span>
                                <span class="txt-desc">
                                    -초/1.98원
                                    <span class="current">-초</span>
                                    <span class="total">/ 1.98원</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-col-wrap">
                    <div class="row title-wrap">
                        <span class="txt-title ico">
                            <span class="img-box">
                                <img src="../../static/images/icon/ic-circle-message.svg" alt="">
                            </span>
                            문자
                        </span>
                        <span class="txt-desc">
                            <span class="current">-건</span>
                            <span class="total">/ 300건</span>
                        </span>
                    </div>
                </div>
            </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>