<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>퍼블리싱</title>
</head>
<body>
    <div class="lg-prototype">
        <div class="lg-prototype-linkwrap">
            <p>공통 Element</p>
            <div class="link-container">
                <a href="../templates/element/common_element.html">공통 Element</a>
                <a href="../templates/element/common_component.html">공통 Component</a>
            </div>
        </div>
        <div class="lg-prototype-linkwrap">
            <p>Intro</p>
            <div class="link-container">
                <a href="../templates/intro.html">Intro</a>
            </div>
        </div>
        <div class="lg-prototype-linkwrap">
            <p>Main</p>
            <div class="link-container">
                <a href="../templates/main.html">Main</a>
            </div>
        </div>
        <div class="lg-prototype-linkwrap">
            <p>청구요금</p>
            <div class="link-container">
                <a href="../templates/#.html">청구요금_</a>
            </div>
        </div>
    </div>
</body>
</html>