<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<!-- 외부 플러그인 Css : 필요 시 -->
	<link rel="stylesheet" type="text/css" href="../static/js/swiper-11.1.5/swiper-bundle.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

	<!-- Scripts -->
	<script src="../static/js/swiper-11.1.5/swiper-bundle.js"></script>
</head>
<body>
	<!-- 
		스크롤 감지시 is-scrolled 
		<div class="page-wrapper is-scrolled">
	-->
	<div class="page-wrapper is-scrolled">
		<!-- header -->
		<header class="header">
			<div class="header__util">
				<h1 class="logo"></h1>
				<!-- <button type="button" class="btn btn-util prev"><span>이전</span></button>
				<button type="button" class="btn btn-util end hidden"><span>닫기</span></button> -->
				<span class="header-tit"><span class="header-txt">눈으로 보는 ARS</span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->
		<div class="container">
			<!-- 선제안 배너 영역 -->
			<div class="section__cont">
				<div class="cont__wrap cont__wrap-banner">
					<!-- 슬라이드 Slider main container -->
					<div class="swiper">
						<div class="swiper-container">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper">
								<!-- Slides -->
								<div class="swiper-slide">
									<div class="card horizon banner">
										<div class="card-body">
											<div class="item util">
												<span class="img-box">
													<img src="../static/images/icon/ic-banner-call.png" alt="가입 매장 상담사 연결">
												</span>
											</div>
											<div class="item text">
												<span class="tit">가입 매장 상담사 연결</span>
												<span class="txt">가입 매장 상담사와<br>통화를 원하시면 선택해 주세요!</span>
											</div>
											<button type="button" class="btn end">종료</button>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card horizon banner">
										<div class="card-body">
											<div class="item util">
												<span class="img-box">
													<img src="../static/images/icon/ic-banner-phone.png" alt="휴대폰 할부/선택약정">
												</span>
											</div>
											<div class="item text">
												<span class="tit">휴대폰 할부/선택약정</span>
												<span class="txt">선택약정 할인을 신청하고<br>25% 요금할인을 받아보세요!</span>
											</div>
											<button type="button" class="btn end">종료</button>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card horizon banner">
										<div class="card-body">
											<div class="item util">
												<span class="img-box">
													<img src="../static/images/icon/ic-banner-clock.png" alt="납부확인서 신청">
												</span>
											</div>
											<div class="item text">
												<span class="tit">납부확인서 신청</span>
												<span class="txt">종합소득세 신고기간입니다.<br>신고용 서류를 신청해 보세요!</span>
											</div>
											<button type="button" class="btn end">종료</button>
										</div>
									</div>
								</div>
							</div>
							<!-- pagination -->
							<div class="swiper-pagination"></div>
						</div>								
					</div>
				</div>
			</div>
			<!-- 웰컴 메시지 & 메뉴카테고리 영역 -->
			<div class="section__cont">
				<div class="cont__wrap cont__wrap-message">
					<div class="cont__txt-box">
						<h4 class="txt">
							궁금하신 내용을<br>
							<span class="deco">아래에서 선택</span>해주세요
						</h4>
					</div>
				</div>
			</div>

			<div class="section__cont">
				<!-- 스크롤 맨 앞일 경우 scroll class 삭제 -->
				<!-- 스크롤 중일 경우 cont__wrap 에 scroll-start 클래스 추가 -->
				<!-- 스크롤 맨 뒤일 경우 scroll-start를 scroll-end로 변경 -->
				<div class="cont__wrap cont__wrap-category">
					<div class="chips-group">
						<button type="button" class="chips chips-menu is-selected">
							<span class="img-box icon"><img src="../static/images/icon/ic-chips-flag.png" alt="많이 찾는 문의"></span>
							<span class="txt">많이 찾는 문의</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">요금 및 납부</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">가입정보</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">사용현황</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">휴대폰 결제</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">해외로밍</span>
						</button>
			
						<button type="button" class="chips chips-menu">
							<!-- <span class="icon"></span> -->
							<span class="txt">해외로밍 부가서비스</span>
						</button>
			
						<button type="button" class="chips chips-menu chips-more">
							<span class="arrow"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- 전체 메뉴 카드 리스트 영역 -->
			<div class="section__cont menu">
				<!-- 많이 찾는 문의 -->
				<div class="cont__wrap cont__wrap-freqMenu">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="ico"></span>
							<span class="txt-title">많이 찾는 문의</span>
						</h6>
						<!-- <div class="img-box">
							<img src="../static/images/icon/ic-chips-flag.png">
						</div>
						<h6 class="tit-head">
							많이 찾는 문의
						</div> -->
					</div>
					<div class="card-group flex-column">
						
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
									<div class="flag flag-recent">
										<span class="txt">최근사용</span>
									</div>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-myplan.png" alt="나의요금제">
									</span>
									<div class="flag flag-recent">
										<span class="txt">최근사용</span>
									</div>
								</div>
								<div class="item text">
									<h3 class="tit">나의 요금제</h3>
									<p class="txt">요금제 확인 · 변경</p>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-added-service.png" alt="부가서비스신청해지">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">부가서비스<br>신청 · 해지</h3>
									<!-- <p class="txt">청구요금 미리납부</p> -->
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-realtime_rates.png" alt="실시간 요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">실시간 요금</span>
									<span class="txt">오늘까지 사용한<br>요금 조회</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="cont__wrap">
					<div class="card horizon chatbot">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-home-holeman.png" alt="챗봇에 문의">
								</span>
							</div>
							<div class="item text">
								<span class="tit">챗봇에 문의</span>
								<span class="txt">24시간 대기없이 바로 문의</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group">
								<button class="btn btn-sol btn-md" type="button">
									<span class="txt">연결</span>
								</button>
							</div>
						</div> 
					</div>
				</div>

				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">요금 및 납부</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-realtime_rates.png" alt="실시간 요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">실시간 요금</span>
									<span class="txt">오늘까지 사용한<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<span class="tit">요금 바로납부</span>
									<span class="txt">청구요금 미리납부</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item _util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-change_payment.png" alt="요금 납부방법 변경">
									</span>
								</div>
								<div class="item text">
									<span class="tit">요금 납부방법 변경</span>
									<span class="txt">계좌 · 카드로<br>매달 자동이체</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">가입 정보</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<span class="tit">요금 바로납부</span>
									<span class="txt">청구요금 미리납부</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">사용현황</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">요금 바로납부</h3>
									<p class="txt">청구요금 미리납부</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">휴대폰결제</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">요금 바로납부</h3>
									<p class="txt">청구요금 미리납부</p>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">요금 바로납부</h3>
									<p class="txt">청구요금 미리납부</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">해외로밍</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">요금 바로납부</h3>
									<p class="txt">청구요금 미리납부</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">정지·분실·통화품질</span>
						</h6>
					</div>
					<div class="card-group flex-column">
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-billing.png" alt="청구요금">
									</span>
								</div>
								<div class="item text">
									<span class="tit">청구 요금</span>
									<span class="txt">이번달과 지난달<br>요금 조회</span>
								</div>
							</div>
						</div>
						<div class="card" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-home-payment.png" alt="요금 바로납부">
									</span>
								</div>
								<div class="item text">
									<h3 class="tit">요금 바로납부</h3>
									<p class="txt">청구요금 미리납부</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cont__wrap hidden">
					<div class="card horizon home">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-home-iptv.png" alt="홈 고객센터 문의">
								</span>
							</div>
							<div class="item text">
								<h3 class="tit">홈 고객센터 문의</h3>
								<p class="txt">IPTVㆍ인터넷ㆍU+스마트홈</p>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group">
								<button class="btn btn-sol btn-md" type="button">
									<span class="txt">연결</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
			</div>

			<div class="section__cont counsel">

				<div class="cont__wrap cont__wrap-counsel">
					<div class="con__tit-box">
						<span class="txt-sub">문의사항을 찾기 어려우신가요</span>
						<h6 class="tit-head">
							<span class="txt-title">상담사와 이야기 해보세요</span>
						</h6>
						<div class="tit-tail hidden"></div>
					</div>
					<div class="card-group threeby">
						<div class="card detail" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-card-chatbot.png" alt="챗봇상담">
									</span>
								</div>
								<div class="item text">
									<span class="tit">챗봇 상담</span>
									<span class="txt">대기없이 바로</span>
								</div>
							</div>
						</div>
						<div class="card detail" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-card-ars-ai.png" alt="AI상담">
									</span>
								</div>
								<div class="item text">
									<span class="tit">AI 상담사</span>
									<span class="txt">언제든지 빠른</span>
								</div>
							</div>
						</div>
						<div class="card detail" role="button" tabindex="0">
							<div class="card-body">
								<div class="item util">
									<span class="img-box">
										<img src="../static/images/icon/ic-card-calls.png" alt="챗봇상담">
									</span>
								</div>
								<div class="item text">
									<span class="tit">전화 상담</span>
									<span class="txt">상세하고 친절한</span>
								</div>
							</div>
							<div class="card-footer">
								<div class="chips chips-tag hidden">
									<span class="txt">점심시간</span>
								</div>
							</div> 
						</div>
					</div>
	
					<div class="btn-group conversion">
						<button class="btn btn-sol btn-lg" type="button">
							<span class="txt">음성 ARS로 전환</span>
						</button>
						<span class="divider"></span>
						<button class="btn btn-sol btn-lg" type="button">
							<span class="txt">홈 고객센터 문의</span>
	
							
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const swiper = new Swiper('.swiper .swiper-container', {
			spaceBetween: 22,
			speed: 1000,
			autoplay: {
				delay: 4000,
				disableOnInteraction: true,
				stopOnLastSlide: true,
			},
			
			// If we need pagination
			pagination: {
				el: '.swiper-pagination',
				type: 'fraction',
			},
		});
	</script>
</body>
</html>