<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/header.css">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">

	<link rel="stylesheet" type="text/css" href="../static/css/button.css">
</head>
<body>
	<div class="page-wrapper is-scrolled">
		<div class="container">
			<div class="section__cont"></div>
		</div>
	</div>

	<!-- popup 오픈 시 show 추가 / 닫을 경우 show 삭제 
		<div class="popup-wrapper show">
	-->
	<div class="popup-wrapper show">
		<div class="back-drop"></div>
		<div class="popup__wrap">
			<div class="popup-header">
				<!-- 타이틀 사용 안하시면 hidden 처리 
					<div class="popup-tit hidden">
				-->
				<div class="popup-tit hidden">
					<span class="txt">
						팝업 타이틀텍스트
					</span>
				</div>
				<button class="btn btn-popup-close" type="button" alt="닫기">
					<img src="../static/images/icon/close_line.png">
				</button>
			</div>
			<div class="popup-body"></div>
			<!-- footer안 쓸 때는 hidden -->
			<div class="popup-footer">
				<div class="btn-group flex-row">
					<button class="btn btn-line btn-lg btn-neu" type="button">
						<span class="txt">취소</span>
					</button>
					<button class="btn btn-sol btn-lg" type="button">
						<span class="txt">확인</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>