<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/header.css">
</head>
<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header">
			<div class="header__util">
				<h1 class="logo hidden"></h1>
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
				<button type="button" class="btn btn-util end hidden"><span>닫기</span></button>
				<span class="header-tit">페이지 타이틀<span class="header-txt">로 돌아가기</span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd">종료</button>
			</div>
		</header>
		<!-- //header -->
		<div class="container" style="height: 500px;">

		</div>
		<footer class="footer"></footer>
	</div>
</body>
</html>