@import "../scss/dt-mixin.scss";

/* single button */
.btn-group {
    .btn {
        width: 100%;
        border-radius: 4px;
        text-align: center;
        @include btn-sol();
        font-weight: var(--dt-fw600);
        .txt {
            color: var(--dt-white);
        }
        &.btn-sol {
            color: var(--dt-white);
            &.btn-lg {
                &.btn-sec {
                    background-color: var(--dt-gray13);
                    border: 1px solid var(--dt-gray13);
                }
                &.btn-neu {
                    background-color: var(--dt-gray03);
                    border: 1px solid var(--dt-gray03); 
                    .txt {
                        color: var(--dt-gray10);
                    }
                }
            }
            /* medium button */
            &.btn-md {
                @include btn-sol(9px, 9px);
                .txt {
                    font-size: var(--dt-fz12);
                }
                &.btn-sec {
                    background-color: var(--dt-gray13);
                    border: 1px solid var(--dt-gray13);
                }
                &.btn-neu {
                    background-color: var(--dt-gray03);
                    border: 1px solid var(--dt-gray03);
                    .txt {
                        color: var(--dt-gray10);
                    } 
                }
                width: 100%;
            }
            &:active {
                box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
            }
            &.is-disabled {
                box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
            }
        } 
        &.btn-line {
            &.btn-lg {
                @include btn-line();
                .txt {
                    color: var(--dt-primary);
                }
                &.btn-sec {
                    background-color: transparent;
                    border: 1px solid var(--dt-gray13);
                    .txt {
                        color: var(--dt-gray13);
                    }
                }
                &.btn-neu {
                    background-color: transparent;
                    border: 1px solid var(--dt-gray17); 
                    .txt {
                        color: var(--dt-gray12);
                    }
                }
                width: 100%;
            } 
            &.btn-md {
                @include btn-line(9px, 9px);
                .txt {
                    font-size: var(--dt-fz12);
                    color: var(--dt-primary);
                }
                &.btn-sec {
                    background-color: transparent;
                    border: 1px solid var(--dt-gray13);
                    .txt {
                        color: var(--dt-gray13);
                    }
                }
                &.btn-neu {
                    background-color: transparent;
                    border: 1px solid var(--dt-gray17);
                    .txt {
                        color: var(--dt-gray11);
                    } 
                }
            }
            &:active {
                box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
            }
            &.is-disabled {
                box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
            }
        }
    }

}

/* multi button */
.btn-group {
    &.flex-row {
        @include flexBox(between, center);
        gap: 8px;
        .btn {
            flex: 1;
        }
    }
    &.flex-column {
        @include flexBox();
        flex-direction: column;
        gap: 8px;
        .btn {
            width: 100%;
        }
    }
}

/* util button */
.btn {
    &.btn-top {
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        @include boxShadow(0, 8px, 12px, 0, rgba(0, 0, 0, 0.2));
    }
    &.btn-center {
        @include flexBox();
        column-gap: 4px;
        .txt {
            @include fw-6();
            color: var(--dt-white);
        }
        &.btn-scroll {
            padding: 12.5px 22px;
            background-color: rgba(0, 0, 0, 0.74);
            border-radius: 100px;
            @include boxShadow(0, 8px, 12px, 0, rgba(0, 0, 0, 0.2));
        }
        &.btn-icBox {
            padding: 14px 0;
            column-gap: 0;
            background-color: var(--dt-gray06);
            border-radius: 4px;
            width: 100%;
            .txt {
                @include fz(14px);
                color: var(--dt-gray11);
            }
            .img-box {
                img {
                    transition: all .2s linear;
                }
            }
            &:active {
                box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
                .img-box {                
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            &.is-selected {
                .img-box {
                    transition: all .2s linear;
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .img-box {
            @include flexBox();
            flex-direction: column;
        }
    }
    // &.btn-icBox {
    //     @include flexBox();
    //     padding: 14px 0;
    //     background-color: var(--dt-gray06);
    //     border-radius: 4px;
    //     width: 100%;
    //     .txt {
    //         @include fz(14px);
    //         color: var(--dt-gray11);
    //     }
    //     .img-box {
    //         img {
    //             transition: all .2s linear;
    //         }
    //     }
    //     &:active {
    //         box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
    //         .img-box {                
    //             img {
    //                 transform: rotate(180deg);
    //             }
    //         }
    //     }
    //     &.is-selected {
    //         .img-box {
    //             transition: all .2s linear;
    //             img {
    //                 transform: rotate(180deg);
    //             }
    //         }
    //     }
    // }
    &.btn-between {
        @include flexBox(between, center);
        width: 100%;
        border-radius: 4px;
        .txt {
            @include fw-6(14px);
            color: var(--dt-gray11);
        }
        &:active {
            box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
        }
        &.is-disabled {
            box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
        }
        &.bg-withdraw {
            column-gap: 6px;
            background-color: var(--dt-white);
            padding: 8px 10px;
            color: var(--dt-gray10);
            .txt {
                font-weight: var(--dt-fw500);
            }
        }
        &.bg-bank {
            column-gap: 8px;
            background-color: var(--dt-gray07);
            padding: 8px;
            color: var(--dt-gray10);

        }
        &.btn-payment {
            .txt-box {
                display: none;
            }
            &.is-selected {
                .txt-box {
                    display: block;
                    @include flexBox(end, center);
                    .txt {
                        @include fw-5(14px);
                        color: var(--dt-primary);
                    } 
                }
            }
        }

    }
    &.btn-start {
        @include flexBox(start, center);
        width: 100%;
        border-radius: 4px;
        &.btn-data {
            @include border(var(--dt-gray17));
            background-color: var(--dt-white);
            .txt-box {
                // @include flexBox(start, center);
                .txt {
                    &:nth-child(1) {
                        font-weight: var(--dt-fw600);
                        color: var(--dt-gray16);
                        &::after {
                            display: inline-block;
                            content: '';
                            margin: 0 12px;
                            width: 1px;
                            height: 10px;
                            background-color: var(--dt-gray09);
                        }
                    }
                    &:nth-child(2) {
                        @include fw-5(14px);
                        color: var(--dt-gray11);
                    }
                }
            }
            &.is-selected {
                border: 2px solid var(--dt-primary);
                .txt-box {
                    .txt {
                        color: var(--dt-primary);
                        &:nth-child(1) {
                            &::after {
                                background-color: var(--dt-primary);
                            }
                        }
                    } 
                }
            }
        }
    }
}
