@import "../scss/dt-mixin.scss";

/* single button */
.btn-group {
    .btn {
        width: 100%;
        border-radius: 4px;
        text-align: center;
        @include btn-sol();

        // @include pre-6();
        &.btn-sol {
            /* large button */
            &.btn-lg {
                &:active {
                    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
                }
                &.btn-sec {
                    background-color: var(--dt-gray12);
                    border: 1px solid var(--dt-gray12);
                }
                &.btn-neu {
                    color: var(--dt-gray10);
                    background-color: var(--dt-gray03);
                    border: 1px solid var(--dt-gray03); 
                }

                &.is-disabled {
                    border: 1px solid rgba(255, 255, 255, 0.60);
                    box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
                }
            }
            /* medium button */
            &.btn-md {
                font-size: var(--dt-fz12);
                &:active {
                    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
                }
                @include btn-sol(9px, 9px);
                &.btn-sec {
                    background-color: var(--dt-gray12);
                    border: 1px solid var(--dt-gray12);
                }
                &.btn-neu {
                    color: var(--dt-gray10);
                    background-color: var(--dt-gray03);
                    border: 1px solid var(--dt-gray03); 
                }
                width: 100%;
                &.is-disabled {
                    border: 1px solid rgba(255, 255, 255, 0.60);
                    box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
                }
            }
        } 
        &.btn-line {
            &.btn-lg {
                &:active {
                    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
                }
                @include btn-line();
                &.btn-sec {
                    color: var(--dt-gray12);
                    background-color: transparent;
                    border: 1px solid var(--dt-gray12);
                }
                &.btn-neu {
                    color: var(--dt-gray10);
                    background-color: transparent;
                    border: 1px solid var(--dt-gray16); 
                }
                width: 100%;
                &.is-disabled {
                    box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
                }
            }
            &.btn-md {
                font-size: var(--dt-fz12);
                &:active {
                    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
                }
                @include btn-line(9px, 9px);
                &.btn-sec {
                    color: var(--dt-gray12);
                    background-color: transparent;
                    border: 1px solid var(--dt-gray12);
                }
                &.btn-neu {
                    color: var(--dt-gray10);
                    background-color: transparent;
                    border: 1px solid var(--dt-gray16); 
                }
                &.is-disabled {
                    box-shadow: inset 0px 0px 0px 100px rgba(255, 255, 255, 0.60);
                }
            }
        }
    }

}

/* multi button */
.btn-group {
    &.flex-row {
        @include flexBox(between, center);
        gap: 8px;
        .btn {
            flex: 1;
        }
    }
    &.flex-column {
        @include flexBox();
        flex-direction: column;
        gap: 8px;
        .btn {
            width: 100%;
        }
    }
}

/* util button */
.btn {
    &.btn-top {
        width: 48px;
        height: 48px;
        /* =====================
            rgba에 대한 색상 정의
        ===================== */ 
        // background-color: var(--dt-black);
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        @include boxShadow(0, 8px, 12px, 0, rgba(0, 0, 0, 0.2));
        // .btn--img_wrap {

        // }
    }
    &.btn-scroll {
        @include flexBox();
        column-gap: 4px;
        padding: 12.5px 22px;
        background-color: rgba(0, 0, 0, 0.74);
        border-radius: 100px;
        @include boxShadow(0, 8px, 12px, 0, rgba(0, 0, 0, 0.2));
        .txt {
            @include pre-6();
            color: var(--dt-white);
        }
        .btn--img_wrap {
            @include flexBox();
            flex-direction: column;
        }
    }
    &.btn-icBox {
        @include flexBox();
        padding: 14px 0;
        background-color: var(--dt-gray06);
        border-radius: 4px;
        width: 100%;
        .txt {
            @include pre-6(14px, 120%);
            color: var(--dt-gray11);
        }
        // .btn--img_wrap {
        //     @include flexBox();
        //     flex-direction: column;
        // }
        &.is-selected {
            .btn--img_wrap {
                transition: all .2s linear;
                .ic-btn-top {
                    transform: rotate(180deg);
                }
            }
        }
        &:active {
            box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
        }
    }
    &.btn-solBox {
        @include flexBox(between, center);
        width: 100%;
        border-radius: 4px;
        &.bg-withdraw {
            column-gap: 6px;
            background-color: var(--dt-white);
            padding: 8px 10px;
            color: var(--dt-gray10);
        }
        &.bg-bank {
            column-gap: 8px;
            background-color: var(--dt-gray07);
            padding: 8px;
            color: var(--dt-gray10);
        }
        .txt {
            @include pre-6(14px, 120%);
            color: var(--dt-gray11);
        }
        .btn--img_wrap {
            &:last-child {
                margin-left: auto;
            }
        }
    }
}