@import "../scss/dt-mixin.scss";
.cont__wrap {
	&.cont__wrap-banner {
		min-height: 132px;
		padding: 20px;
		.swiper {
			z-index: -1;
		}
		.swiper-container {
			animation: fadeInDown 1s;
		}
		.swiper-pagination {
			position: absolute;
			bottom: 16px;
			@include fw-5(12px);
			text-align: right;
			padding-right: 18px;
			.swiper-pagination-fraction {
				color: var(--dt-gray10);
			}
			.swiper-pagination-current{
				@include fw-5(12px);
				color: var(--dt-primary);
			}
			.swiper-pagination-total {
				@include fw-5(12px);
			}
		}
	}
	.cont__txt-box {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		row-gap: 4px;
		.txt-main {
			font-size: 22px;
			font-weight: 600;
			color: var(--dt-gray16);
		}
		.txt-sub {
			font-size: 22px;
			font-weight: 600;
			color: var(--dt-gray14);
			.txt-point {
				font-size: 22px;
				font-weight: 600;
				color: var(--dt-primary);
			}
		}
	}
	.con__tit-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
		.tit-head {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 18px;
			font-weight: 700;
			color: var(--dt-gray16);
		}
		.tit-tail {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.message {
	padding: 32px 120px 28px 20px;
	background-image: url(../images/img/img-hm-home.png);
	background-position: right -20px bottom -8px;
	background-repeat: no-repeat;
	background-size: 140px 140px;
}

.category {
	padding-bottom: 32px;
}
.menu {
	padding: 36px 0 48px 0;
	background-color: var(--dt-gray02);
	gap: 48px;
	.freqMenu {
		.con__tit-box {
			justify-content: flex-start;
			gap: 4px;
			.img-box {
				width: 20px;
				min-width: 20px;
				height: 20px;
			}
		}
		.txt-head {
			@include fw-5(14px);
			color: var(--dt-gray11);
		}
	}
}
.is-scrolled .category {
	position: sticky;
	top: 57px;
	left: 0;
	background-color: var(--dt-white);
	box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	padding-bottom: 0;
	.cont__wrap {
		position: relative;
		padding: 0;
		&::before {
			position: absolute;
			content: "";
			display: none;
			width: 38px;
			height: 52px;
			top: 0;
			left: 0;
			background: linear-gradient(-270deg, #FFF 10%, rgba(255, 255, 255, 0.00) 100%);
		}
		&::after {
			position: absolute;
			content: "";
			display: inline;
			width: 38px;
			height: 52px;
			top: 0;
			right: 0;
			background: linear-gradient(270deg, #FFF 10%, rgba(255, 255, 255, 0.00) 100%);
		}
		&.scroll-start {
			&::before {
				display: inline;
			}
		}
		&.scroll-end {
			&::before {
				display: inline;
			}
			&::after {
				display: none;
			}
		}
	}
	.chips-group {
		flex-wrap: nowrap;
		border-top: 1px solid var(--dt-gray17);
		padding: 8px 20px;
		overflow-x: auto;
		gap: 4px;
	}
}