@import "../scss/base/mixin";
// 서비스 : 해외로밍 실시간 조회
.cont__wrap-realtimeRoaming,
.cont__wrap-roamingHistory {
    background-image: url(../images/img/img-hm-roaming.png);
}
// 이용중:새로고침 버튼 있는 경우
.section__cont.used {
    padding-top: 20px;
    .chips-refresh {
        margin-left: auto;
    }
}
// 로밍기간 카드
.card.rmPeriod {
    padding: 22px 16px;
    gap: 20px;
    .card-header {
        display: flex;
        .item {
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
        .tit {
            @include fw-5(14px);
            line-height: 150%;
            color: var(--dt-primary);
        }
        .img-box {
            width: 24px;
            min-width: 24px;
            height: 24px;
        }
    }
    .card-body {
        align-items: center;
        gap: 20px;
        .period-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            .item {
                flex-direction: column;
                align-items: center;
                .tit {
                    font-weight: 600;
                    line-height: 120%;
                    text-align: center;
                }
                .txt {
                    text-align: center;
                }
                &.date {
                    gap: 0;
                }
                &.period {
                    position: relative;
                    justify-content: center;
                    width: 72px;
                    max-width: 72px;
                    &::before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: 100%;
                        height: 1px;
                        border: 1px dashed var(--dt-gray09);
                    }
                    .chips-tag {
                        z-index: 1;
                    }
                }
            }
        }
        .list-wrap {
            width: 100%;
            margin-top: 0;
            padding: 20px 0 0 0;
            border-top: 1px solid var(--dt-gray06);
            background-color: transparent;
            border-radius: unset;
            .list-box {
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 3px 0;
                border-bottom: none;
                gap: 12px;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                .head {
                    min-width: 64px;
                    text-align: left;
                    line-height: 150%;
                }
                .tail {
                    text-align: left;
                    line-height: 150%;
                    color: var(--dt-gray11);
                    margin-left: 0;
                    max-width: unset;
                    .price {
                        font-weight: 700;
                        color: var(--dt-black);
                    }
                    .info {
                        font-size: 12px;
                    }
                    &.total {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    .card-footer {
        .btn {
            background-color: var(--dt-gray06);
            .txt {
                font-size: 14px;
            }
        }
    }
}
// 로밍요금 라운드박스
.roamingPrice {
    .roaming {
        padding-top: 22px;
        .row {
            align-items: center;
        }
        .txt-title {
            font-size: 16px;
            align-self: unset;
        }
        .txt-price {
            font-size: 18px;
            color: var(--dt-black);
            span:first-of-type {
                font-size: 18px;
            }
        }
        .btn.bg-withdraw {
            margin-top: 20px;
        }
    }
    .txt-caution { 
        text-align: right;
        line-height: 150%;
        margin-top: 12px;
    }
}
//로밍데이터 팝업
.list-wrap.chrgData {
    margin-top: 0;
}
//로밍히스토리 풀팝업
.full-popup.rmHistory {
    .cont__wrap-message {
        margin-top: 20px;
    }
    .txt-day {
        @include fw-6();
        line-height: 120%;
        color: var(--dt-primary);
    }
    .txt-price {
        display: flex;
        align-items: center;
        .flag {
            margin-right: 8px;
        }
        .flag .txt {
            font-size: 11px;
        }
    }
}


// 서비스 : 로밍영수증 발급
.page-wrapper .container .section__cont:has(.rmInvoice) {
    padding-top: 72px;
    gap: 0;
}
// 토스트 팝업 위치 조정
.page-wrapper:has(.rmInvoice) {
    & + .toast-wrap {
        bottom: 154px;
    }
}
.cont__wrap-service.rmInvoice {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .con__tit-box {
        margin-bottom: 0;
    }
    .list-wrap {
        margin-top: 0;
        .list-box {
            .tail {
                color: var(--dt-gray14);
            }
            &.title, &.total {
                .head {
                    display: flex;
                    align-items: center;
                    @include fw-7();
                    line-height: 150%;
                    color: var(--dt-gray16);
                    gap: 6px;
                }
                .tail {
                    @include fw-7();
                    line-height: 150%;
                    color: var(--dt-gray16);
                }
            }
            // 2depth
            .list-wrap {
                width: 100%;
                margin-top: 0;
                padding: 0;
                .list-box {
                    padding: 4px 0;
                    border: none;
                    .head, .tail {
                        @include fw-5(14px);
                        line-height: 150%;
                        color: var(--dt-gray12);
                    }
                    // 3depth
                    .list-box {
                        padding: 0;
                        .head {
                            padding-left: 12px;
                            background-image: url(../images/icon/ic-list-brace.svg);
                            background-repeat: no-repeat;
                            background-position: 0px 6px;
                            background-size: 8px;
                        }
                    }
                }
            }
        }
    }
}
//청구서 팝업
.popup-body:has(.invoice) {
    padding-top: 20px;
}



@media screen and (max-width: 359px) {
    // 로밍기간 카드
    .card.rmPeriod {
        .period-wrap {
            flex-direction: column;
            gap: 20px;
        }
    }
}