@import "../scss/base/mixin";
// 서비스 : 해외로밍 실시간 조회
.cont__wrap-realtimeRoaming {
    background-image: url(../images/img/img-hm-roaming.png);
}
// 이용중:새로고침 버튼 있는 경우
.section__cont.used {
    padding-top: 20px;
    .chips-refresh {
        margin-left: auto;
    }
}

// 로밍요금 라운드박스
.roamingPrice {
    .roaming {
        padding-top: 22px;
        .row {
            align-items: center;
        }
        .txt-title {
            font-size: 16px;
            align-self: unset;
        }
        .txt-price {
            font-size: 18px;
            color: var(--dt-black);
            span:first-of-type {
                font-size: 18px;
            }
        }
        .btn.bg-withdraw {
            margin-top: 20px;
        }
    }
    .txt-caution { 
        text-align: right;
        line-height: 150%;
        margin-top: 12px;
    }
}

//청구서 팝업
.popup-body:has(.invoice) {
    padding-top: 20px;
    .cont__wrap .con__tit-box .tit-head{flex-wrap:wrap;}
}
