@import "../scss/base/mixin";
.page-wrapper {
	&.roamingRealtime {
		.container {
			.section__cont {
				padding: 72px 0 95px;
                &.summary {
                    padding-bottom:18px;
                    background-color:#DCE6FF;
                    .cont__wrap {
                        @include flexColum;
                        gap:9px;
                        position:relative;
                        height:max-content;
                        min-height:188px;
                        padding-top:28px;
                        background-repeat: no-repeat;
                        background-size:140px;
                        background-position: right 10px bottom 0;
                        .info-price-wrap{
                            .info-price, .info-price-detail {
                                &.total-last {
                                    .row {margin-top:4px;}
                                }
                            }
                        }			
                    }
                    .cont__wrap-bill {
                        background-image: url(../images/img/img-hm-bill.png);
                    }
                    .cont__wrap-realtime {
                        background-image: url(../images/img/img-hm-realtime.png);
                    }
                    .cont__wrap-usestate {
                        background-image: url(../images/img/img-hm-usestate.png);
                    }
                    .cont__wrap-account {
                        background-image: url(../images/img/img-hm-account.png);
                        // min-height:158px;
                    }
                    .cont__wrap-payment {
                        background-image: url(../images/img/img-hm-automatic-withdrawal.png);
                    }
                    .cont__wrap-billMthdChng {
                        background-image: url(../images/img/img-hm-bill.png);
                    }
                    .cont__wrap-pauseTemp {
                        background-image: url(../images/img/img-hm-pauseTemp.png);
                    }
                    .cont__wrap-MOPaymentUsed {
                        background-image: url(../images/img/img-hm-MOpayment.png);
                        background-position: right -5px top 16px;
                        & + .info-price-single {
                            p.txt-info {font-size:14px;font-weight:500;}
                        }
                    }
                    .cont__wrap-plan {
                        background-image: url(../images/img/img-hm-myplan.png);
                    }
                    .txt-select-wrap {
                        @include flexRow;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 4px;
                        color:var(--dt-gray16);
                        padding-right: 30%;
                        .txt {
                            @include fw-6(22px);
                            line-height: 1.5;
                        }
                        &:has(.chips-date + .txt) {
                            .txt {
                                @include fw-6(18px);
                                line-height: 1.2;
                            }
                        }
                        .chips-date {
                            .txt {
                                @include fw-6(18px);
                                line-height: 1.2;
                            }
                        }
                    }
                    // 툴팁 있는 경우
                    .btn-tooltip {
                        margin-left:2px;
                        img {width:20px;height:20px;}
                    }
                    .tooltip-wrap {
                        max-width:280px;
                    }
                }
                &.desc {//입금전용계좌추가
                    padding: 36px 0 48px 0;
                    gap: 48px;
                    &:has(.accnt-cont-wrap){
                        height:calc(100% - 262px);
                    }
                    &:has(.cont__wrap-service) {
                        padding: 72px 0 95px;
                    }
                }
                &.counsel {
                    padding: 36px 0 0px;
                }
                &.used {// 이용중:새로고침 버튼 있는 경우
                    padding-top: 20px;
                    .chips-refresh {
                        margin-left: auto;
                    }
                }
                .cont__wrap {
                    &.cont__wrap-realtimeRoaming {
                        background-image: url(../images/img/img-hm-roaming.png);
                    }
                    &.cont__wrap-btBtn {
                        &:has(.accordion-container) {
                            background-color:var(--dt-white);
                            z-index: 999;
                        }
                    } 
                }
            }
		}
	}
}

// 로밍기간 카드
.card.rmPeriod {
    padding: 22px 16px;
    gap: 20px;
    .card-header {
        display: flex;
        .item {
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
        .tit {
            @include fw-5(14px);
            line-height: 150%;
            color: var(--dt-primary);
        }
        .img-box {
            width: 24px;
            min-width: 24px;
            height: 24px;
        }
    }
    .card-body {
        align-items: center;
        gap: 20px;
        .period-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            .item {
                flex-direction: column;
                align-items: center;
                .tit {
                    font-weight: 600;
                    line-height: 120%;
                    text-align: center;
                }
                .txt {
                    text-align: center;
                }
                &.date {
                    gap: 0;
                }
                &.period {
                    position: relative;
                    justify-content: center;
                    width: 72px;
                    max-width: 72px;
                    &::before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: 100%;
                        height: 1px;
                        border: 1px dashed var(--dt-gray09);
                    }
                    .chips-tag {
                        z-index: 1;
                    }
                }
            }
        }
        .list-wrap {
            width: 100%;
            margin-top: 0;
            padding: 20px 0 0 0;
            border-top: 1px solid var(--dt-gray06);
            background-color: transparent;
            border-radius: unset;
            .list-box {
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 3px 0;
                border-bottom: none;
                gap: 12px;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                .head {
                    min-width: 64px;
                    text-align: left;
                    line-height: 150%;
                }
                .tail {
                    text-align: left;
                    line-height: 150%;
                    color: var(--dt-gray11);
                    margin-left: 0;
                    max-width: unset;
                    .price {
                        font-weight: 700;
                        color: var(--dt-black);
                    }
                    .info {
                        font-size: 12px;
                    }
                    &.total {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    .card-footer {
        .btn {
            background-color: var(--dt-gray06);
            .txt {
                font-size: 14px;
            }
        }
    }
}
// 로밍요금 라운드박스
.roamingPrice {
    .roaming {
        padding-top: 22px;
        .row {
            align-items: center;
        }
        .txt-title {
            font-size: 16px;
            align-self: unset;
        }
        .txt-price {
            font-size: 18px;
            color: var(--dt-black);
            span:first-of-type {
                font-size: 18px;
            }
        }
        .btn.bg-withdraw {
            margin-top: 20px;
        }
    }
    .txt-caution { 
        text-align: right;
        line-height: 150%;
        margin-top: 12px;
    }
}


@media screen and (max-width: 359px) {
    // 로밍기간 카드
    .card.rmPeriod {
        .period-wrap {
            flex-direction: column;
            gap: 20px;
        }
    }
}