@import "../scss/base/mixin";
.roamingRealtime {
    // 로밍요금 라운드박스
    .roamingPrice {
        .roaming {
            padding-top: 22px;
            .row {
                align-items: center;
            }
            .txt-title {
                font-size: 16px;
                align-self: unset;
            }
            .txt-price {
                font-size: 18px;
                color: var(--dt-black);
                span:first-of-type {
                    font-size: 18px;
                }
            }
            .btn.bg-withdraw {
                margin-top: 20px;
            }
        }
        .txt-caution { 
            text-align: right;
            line-height: 150%;
            margin-top: 12px;
        }
    }
}