@import "../scss/base/mixin";

.page-wrapper {
	height: 100%;
	.container {
		height: 100%;
		.section__cont {
			height: 100%;
			justify-content: space-between;

		}
	}
}
.cont__wrap {
	&:first-child {
		height: 100%;
		overflow-y: auto;
	}
	&:last-child {
		position: relative;
		background-color: var(--dt-white);
		padding: 0;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -20px;
			left: 0;
			width: 100%;
			height: 20px;
			background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0.00) 100%);
		}
		.btn-group {
			padding: 0 20px 20px;
		}
		.card-group {
			padding: 0 20px 20px;
			.card {
				&.horizon {
					&.solid {
						padding: 15px 16px;
					}
				}

			}
			.sub-tit {
				@include fw-5(16px);
				color: var(--dt-gray11);
				margin-bottom: 12px;
			}
		}
	}
}

.txt-infoWrap {
	@include fw-6(12px);
	color: var(--dt-gray11);
	margin-top: 28px;
	.subTxt-info {
		@include fw-6(12px);
		color: var(--dt-gray10);
	}
}
