@import "../scss/base/mixin";
.page-wrapper {
	.container {
		.section__cont {
			padding: 92px 0 155px;
		}
	}
}

.section__cont {
	&.scan {
		position:relative;
		padding-top:56px;
		padding-bottom:0;
		.cont__wrap-service {padding:0;}
		.cont__wrap.cont__wrap-btBtn .btn-group {
			position:absolute;
			bottom:0;
			left:0;
			width:calc(100% - 40px);
			padding:0;
			margin:0 20px 20px;
			border-radius: 4px;
			overflow:hidden;
			&::before {display:none;}
		}
		.scan-area:empty {
			&:after {
				content: "카드스캔API영역입니다";
				display: block;
				width: 100%;
				height: calc(var(--vh) - 56px);
				text-align: center;
				font-size: 14px;
				border: 1px solid red;
				padding-top: 40vh;
			}
		}
		.cont__wrap-btBtn {position:absolute;}
	}
	&:has(.cont__wrap-cms) {
		padding: 92px 0 95px;
		gap: 28px;
	}
	&:has(.cont__wrap-btBtn:not(:has(.flex-row)) button:nth-of-type(2)){
		padding-bottom:240px;
	}
}
.cont__wrap {
	&.cont__wrap-btBtn {
		padding: 0;
		background-color: transparent;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		.btn-group {
			position: relative;
			background-color: var(--dt-white);
			padding: 0 20px 20px;
			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
				height: 20px;
				background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0.00) 100%);
			}
			// 풀버튼일 경우 패딩 0
			&.full { 
				padding: 0;
				.btn {
					border-radius: 0;
				}
			}
		}
		.btn.bg-bank {
			width:calc(100% - 40px);
			margin:0 auto 20px;
			background-color:var(--dt-gray01);
			border:1px solid var(--dt-gray08);
		}
		&:has(.accordion-container:first-child) { // 버튼 위 아코디언(동의영역) 올라가는 케이스
			.accordion-container {
				padding-left:20px;
				padding-right:20px;
				padding-bottom:8px;
			}
			box-shadow:0px -8px 13px rgba(0, 0, 0, 0.04);
		}
	}
	// CMS : 실시간출금동의
	&.cont__wrap-cms {
		.con__tit-box {
			&.flex-column {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 28px;
				gap: 12px;
				.text-box {
					text-align: left;
					gap: 6px;
					.tit {
						font-size: 14px;
					}
					.txt {
						font-size: 16px;
					}
				}
			}
		}
	}	
}

.txt-infoWrap {
	@include fw-6(12px);
	color: var(--dt-gray11);
	margin-top: 28px;
	.subTxt-info {
		@include fw-6(12px);
		color: var(--dt-gray10);
	}
}

/* 카카오톡 포지션 다발*/
.badge-wrap {
	padding-bottom: 20px;
	text-align: center;
	.btn-kakao {
		padding: 8px 12px 8px 32px;
		border-radius: 999px;
		border: 1px solid var(--dt-gray08);
		background-color: var(--dt-white);
		background-image: url(../images/icon/ic-btn-kakao.svg);
		background-repeat: no-repeat;
		background-position: left 12px center;
		background-size: 16px 16px;
		@include fw-5(14px);
		color: var(--dt-gray12);
	}
}

/* 로딩 애니메이션 */
.loading-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; // 원 사이 간격
	margin: 4px auto 24px;
	.loading-cir {
		width: 8px; // 원의 크기
		height: 8px; // 원의 크기
		border-radius: 50%; // 원형
		background-color: var(--dt-primary); // 기본 원 색상 (첫 번째 원 기준)
		animation: loading 1.25s infinite ease-in-out; // 애니메이션 효과
		&:nth-child(2) {
			opacity: 0.6; // 두 번째 원 초기 투명도
			animation-delay: 0.25s;
		}
		
		&:nth-child(3) {
			opacity: 0.1; // 세 번째 원 초기 투명도
			animation-delay: 0.5s;
		}
	}
}


@keyframes loading {
	0% {
	  opacity: 1; // 첫 번째 원이 밝음
	}
	25% {
	  opacity: 0.6; // 두 번째 원으로 전환
	}
	50% {
	  opacity: 0.1; // 세 번째 원으로 전환
	}
	75% {
	  opacity: 0.6; // 다시 두 번째 원으로 전환
	}
	100% {
	  opacity: 1; // 시작 상태로 돌아감
	}
}