@import "../scss/base/mixin";
.page-wrapper {
	&.temporaryPause {
		.container {
			.section__cont {
                &.desc {//입금전용계좌추가
                    padding: 36px 0 48px 0;
                    gap: 48px;
                    &:has(.accnt-cont-wrap){
                        height:calc(100% - 262px);
                    }
                    &:has(.cont__wrap-service) {
                        padding: 72px 0 95px;
                    }
                }
                &.counsel {
                    padding: 36px 0 0px;
                }
                .cont__wrap {
                    &.cont__wrap-service {
                        // padding-bottom:40px;
                        &:has(.input-col-wrap .chck-group) {
                            .input-col-wrap + .input-col-wrap {
                                margin-top:24px;gap:16px;
                                .accordion-header.chckbox-area {padding-bottom:10px;}
                            }
                            .accordion-content .bullet-list {padding-bottom:0}
                        }
                    }
                    &.wd-full {
                        .cont__txt-box {
                            .txt {
                                @include fw-7(20px);
                            }
                        }
                    }
                    &.cont__wrap-btBtn {
                        &:has(.accordion-container) {
                            background-color:var(--dt-white);
                            z-index: 999;
                        }
                    } 
                }
            }
		}
	}
}