<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회페이지 케이스</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
            </div>
            <div class="header__btn btn-group">
                <button type="button" class="btn line btn-md"><span class="txt">상담사</span></button>
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	
		<!-- container -->
		<div class="container">
            <!-- 홀맨 배너 영역// -->
            <div class="section__cont summary">
                <div class="cont__wrap cont__wrap-bill">
                    <div class="select-billdate">
                        <span class="txt-due">2월 1일 ~ 2월 28일</span>
                        <span class="txt-select-wrap">
                            <button type="button" class="chips chips-date">
                                <span class="txt">24년 03월</span>
                                <span class="arrow"></span>
                            </button>
                            청구요금은
                        </span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">89,000</span>
                            <span class="color-prim">원</span>이에요
						</h4>
					</div>
				</div>
                <div class="info-price-single">
                      <span class="txt-info">
                        지난 달보다<span class="txt-price">38,000원</span>늘었어요
                      </span>
                      <span class="img-box">
                            <img src="../../static/images/icon/ic-arrowUp-circle-prime.svg" alt="">
                      </span>
                </div>
            </div>
             <!-- 청구 예정 상태 -->
            <div class="section__cont summary">
                <div class="cont__wrap cont__wrap-bill">
                    <div class="select-billdate">
                        <span class="txt-due">2월 1일 ~ 2월 28일</span>
                        <span class="txt-select-wrap">
                            <button type="button" class="chips chips-date">
                                <span class="txt">24년 03월</span>
                                <span class="arrow"></span>
                            </button>
                            청구요금은
                        </span>
                    </div>
					<div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">청구 예정</span>이에요
						</h4>
					</div>
				</div>
            </div>
            <!-- 발행 전 -->
            <div class="section__cont summary">
                <div class="cont__wrap cont__wrap-bill">
					<div class="cont__txt-box">
						<h4 class="txt">아직 청구서가<br />발행되지 않았어요</h4>
					</div>
				</div>
            </div>
            <!-- //홀맨 배너 영역 -->

            <!-- 아코디언 영역 -->
            <div class="section__cont detail">
                <!-- 발행된 청구서가 있을 경우 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">요금 상세</span>
                        </h6>
                        <div class="tit-tail">
                            <button type="button" class="chips chips-all is-selected">
                                <span class="txt">전체접힘</span>
                                <span class="arrow"></span>
                            </button>
                        </div>
                    </div>
                    <div class="info-price-wrap">
                        <!-- data-open="true/false"로 아코디언 실행 -->
                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">A</span>
                                    </div>
                                    <span>휴대폰 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>60,000원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                    <!-- unactive : style="translate: none; rotate: none; scale: none; transform: scale(1, -1);" -->
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                월정액
                                            </span>
                                            <span class="txt-price">105,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                할인요금
                                            </span>
                                            <span class="txt-price">-45,000원</span>
                                        </div>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">
                                                    태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                    <br />태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
                                                </span>
                                                <span class="txt-price">-22,000원</span>
                                            </li>
                                            <li class="row">
                                                <span class="txt-title">선택약정 25% 할인</span>
                                                <span class="txt-price">-18,000원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header"><!-- 아코디언 버튼 -->
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">B</span>
                                    </div>
                                    <span>부가서비스 및 구독 혜택 사용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>10,000원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content"><!-- 아코디언 컨텐트 -->
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
                                                바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                맘대로 폰교체 / 맘대로 폰교체 플러스
                                            </span>
                                            <span class="txt-price">5,000원</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="list-info-price accordion-container open">
                            <button class="info-price accordion-header">
                                <span class="row txt-title">
                                    <div class="badge badge-round">
                                        <span class="txt">C</span>
                                    </div>
                                    <span>기기 이용요금</span>
                                </span>
                                <span class="row txt-price">
                                    <span>999,999원</span>
                                    <span class="img-box">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
                                    </span>
                                </span>
                            </button>
                            <div class="accordion-content">
                                <ul class="info-price-detail">
                                    <li class="info-wrap">
                                        <!-- default -->
                                        <div class="row">
                                            <span class="txt-title ico">
                                                항목1111
                                            </span>
                                            <span class="txt-price">2,450,000원</span>
                                        </div>
                                    </li>
                                    <li class="info-wrap">
                                        <div class="row">
                                            <span class="txt-title ico">
                                                항목1-1111
                                            </span>
                                            <span class="txt-price">-999,000원</span>
                                        </div>
                                        <ul class="col list-detail">
                                            <li class="row">
                                                <span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
                                                <span class="txt-price">-9,990원</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col info-price total-last">
                            <div class="badge badge-round">
                                <span class="txt">A+B+C</span>
                            </div>
                            <span class="row">
                                <span class="txt-title">총 청구요금</span>
                                <span class="txt-price">
                                    60,000원
                                </span>
                            </span>
                            <span class="txt-sub">(부가세 포함)</span>
                        </div>
                    </div>
                </div>

                <!-- 발행된 청구서가 없을 경우 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">요금 상세</span>
                        </h6>
                    </div>
                    <div class="card solid center">
                        <div class="card-body">
                            <div class="item util">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-card-roaming_x.png" alt="">
                                </span>
                            </div>
                            <div class="item text">
                                <span class="txt">아직 발행된 청구서가 없어요</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">납부 상세</span>
                        </h6>
                        <div class="tit-tail btn-group">
                            <button type="button" class="btn btn-sec btn-md">
                                <span class="txt">변경</span>
                            </button>
                        </div>
                    </div>
                    <div class="info-col-wrap">
                        <div class="row">
                            <span class="txt-title">납부방법</span>
                            <span class="txt-desc">
                                은행자동이체
                            </span>
                        </div>
                        <div class="row">
                            <span class="txt-title">납부 예정일</span>
                            <span class="txt-desc">
                                <span class="flag flag-line primary">
                                    <span class="txt">이용예정</span>
                                </span>
                                N월 NN일
                            </span>
                        </div>
                    </div>
                    <div class="bullet-wrap caution">
                        <h5 class="bullet-caption">
                            유의사항
                        </h5>
                        <ul class="bullet-list">
                            <li class="bullet-item">
                                청구서는 2024년 3월 4일 기준으로 작성되었습니다.
                            </li>
                            <li class="bullet-item">
                                납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>