<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 사용량</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
            </div>
            <div class="header__btn btn-group">
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	
		<!-- container -->
		<div class="container">
            <!-- 홀맨 배너 영역// -->
            <div class="section__cont summary"><!-- 사용량 -->
                <div class="cont__wrap cont__wrap-usestate">
                    <div class="select-billdate">
                        <span class="txt-due">남은 기간 7일</span>
                        <span class="txt-notice">이번 달 남은 데이터는</span>
                    </div>
                    <div class="cont__txt-box">
						<h4 class="txt price">
                            <span class="deco">5.51</span>
                            <span class="color-prim">GB</span>이에요
						</h4>
					</div>
				</div>
            </div>

            <!-- 아코디언 영역 -->
            <div class="section__cont detail">
                <!-- 발행된 청구서가 있을 경우 -->
                <div class="cont__wrap">
                    <div class="con__tit-box">
                        <h6 class="tit-head">
                            <span class="txt-title">실시간 요금 상세</span>
                        </h6>
                    </div>
                    <div class="info-col-wrap">
                        <div class="row title-wrap">
                            <span class="txt-title ico">
                                <span class="img-box">
                                    <img src="../../static/images/icon/ic-circle-chart.svg" alt="">
                                </span>
                                데이터
                            </span>
                            <button class="chips neutral">
                                <span class="txt">충전/선물</span>
                            </button>
                        </div>
                        <div class="plan-wrap">
                            <div class="col">
                                <div class="txt-plan">
                                    <span class="current">12GB</span>
                                    <span class="total">/ 무제한</span>
                                </div>
                                <div class="progress-area realtime">
                                    <span class="progress-bg">
                                        <!-- style.width %로 조절 -->
                                        <span class="progress-bar" style="width:100%;"></span>
                                    </span>
                                </div>
                                <p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
                            </div>
                            <div class="col accordion-container open">
                                <div class="list-plan accordion-content">
                                    <div class="row">
                                        <span class="txt-title ico">
                                            참 쉬운 가족 데이터
                                            <span class="img-box tooltip">
                                                <img src="../../static/images/icon/" alt="">
                                            </span>
                                        </span>
                                        <span class="txt-desc">
                                            <span class="current">0GB</span>
                                            <span class="total">/ 50GB</span>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="txt-title ico">
                                            자회선 월 기본제공 데이터
                                            <span class="img-box tooltip">
                                                <img src="../../static/images/icon/" alt="">
                                            </span>
                                            <span class="txt-phone">(010-75**-64**)</span>
                                        </span>
                                        <span class="txt-desc">
                                            <span class="current">250MB</span>
                                            <span class="total">/ 500MB</span>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn-toggle accordion-header">
                                    <span class="txt">자세히 보기</span>
                                    <span class="img-box ico20">
                                        <img src="../../static/images/icon/ic-chips-arrow-gray.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bullet-wrap caution">
                        <h5 class="bullet-caption">
                            유의사항
                        </h5>
                        <ul class="bullet-list">
                            <li class="bullet-item">
                                청구서는 2024년 3월 4일 기준으로 작성되었습니다.
                            </li>
                            <li class="bullet-item">
                                납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>