<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>LGU+ 눈으로 보는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/serviceEnd.css">

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<div class="section__cont">
			<div class="cont__wrap serviceEnd">
				<div class="img-box">
					<img src="../../../static/images/img/logo-md.svg">
				</div>
				<div class="tit-head">
					눈으로 보는 ARS를<br>이용해 주셔서 감사합니다
				</div>				
			</div>
			<!-- 하단 카드그룹 -->
			<div class="cont__wrap">
				<div class="sub-tit">더 문의하실 사항이 있으신가요?</div>
				<div class="card-group">
					<div class="card detail">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../../../static/images/icon/ic-home-csCenter.svg" alt="고객센터 앱">
								</span>
							</div>
							<div class="item text">
								<span class="tit">고객센터 앱</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group">
								<button class="btn btn-md btn-sec" type="button">
									<span class="txt">이동</span>
								</button>
							</div>
						</div> 
					</div>
					<div class="card detail">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../../../static/images/icon/ic-home-chatbot.svg" alt="챗봇">
								</span>
							</div>
							<div class="item text">
								<span class="tit">챗봇</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group">
								<button class="btn btn-md btn-sec" type="button">
									<span class="txt">이동</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
